<section id="blog" class="blog-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">BLOG</h1>
                <p>Who shares, wins!</p>
            </div><!-- col-xs-12 -->
            {% include blog/recent-posts-main-page.html %}
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="more-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="pull-left">{{ site.name }} - Premium One Page corporate layout</h2>
                    <button type="button" class="btn btn-success pull-right">see More</button>
                </div><!-- col-xs-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- /.more-area -->

</section><!-- blog content -->
