<section id="blog" class="blog-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">BLOG</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed
                    sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida
                    felis vitae ipsum pharetra maximus.</p>
            </div><!-- col-xs-12 -->
            <div class="wow zoomIn col-xs-12 col-md-4">
                <img class="img-responsive" src="img/blog1.jpg" alt="Image"/>
                <div class="blog-date-wrapper">
                    <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
                    <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
                    <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
                    <span class="clearboth"> &nbsp; </span>
                </div>
                <div class="blog-container">


                    <h2><a href="blog-sidebar.html" target="_blank">The Green Fields of Spring</a></h2>
                    <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam</p>
                    <a class="custom-button" href="blog-sidebar.html">read more <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="wow zoomIn col-xs-12 col-md-4">
                <img class="img-responsive" src="img/blog2.jpg" alt="Image"/>
                <div class="blog-date-wrapper">
                    <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
                    <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
                    <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
                    <span class="clearboth"> &nbsp; </span>
                </div>
                <div class="blog-container">
                    <h2><a href="blog-sidebar.html" target="_blank"> 10 Things you Need to Know</a></h2>
                    <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam</p>
                    <a class="custom-button" href="blog-sidebar.html">read more <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="wow zoomIn col-xs-12 col-md-4">
                <img class="img-responsive" src="img/blog3.jpg" alt="Image"/>
                <div class="blog-date-wrapper">
                    <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
                    <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
                    <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
                    <span class="clearboth"> &nbsp; </span>
                </div>
                <div class="blog-container">
                    <h2><a href="blog-sidebar.html" target="_blank">The Secret Trick to Achieve</a></h2>
                    <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam</p>
                    <a class="custom-button" href="blog-sidebar.html">read more <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="more-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="pull-left">techgut- Premium One Page corporate layout</h2>
                    <button type="button" class="btn btn-success pull-right">see More</button>
                </div><!-- col-xs-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- /.more-area -->
</section><!-- blog content -->
