<header class="header-part">
    <div id="home" class="wrapper">
        <!-- Fixed navbar -->
        <div class="navi navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <a href="#menu">
                        <button type="button" data-effect="st-effect-1" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                                aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </a>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="TechGut"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse pull-right hidden-xs">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#home">Home</a></li>
                        <li><a class="page-scroll" href="#about">about us</a></li>
                        <li><a class="page-scroll" href="#services">services</a></li>
                        <li><a class="page-scroll" href="#product">product</a></li>
                        <li><a class="page-scroll" href="#team">team</a></li>
                        <li class="dropdown"><a class="page-scroll drop dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-expanded="false" href="#blog">blog</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog-full-width.html">full-width Blog</a></li>
                                <li><a href="blog-sidebar.html">sidebar blog</a></li>
                            </ul>
                        </li>

                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open" style="display:none;">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div><!-- End of Nav -->
    </div>
</header>
