<li class="items" data-transition="slidevertical" data-slotamount="1" data-masterspeed="1500"
    data-thumb="img/slider/slider_img_03.jpg" data-delay="13000" data-saveperformance="off">
    <!-- MAIN IMAGE -->
    <img src="img/slider/slider_img_03.jpg" alt="kenburns1" data-bgposition="left center"
         data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100"
         data-bgfitend="130" data-bgpositionend="right center">
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption very_large_text lfb ltt tp-resizeme head-tag"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-160"
         data-speed="1200"
         data-start="1700"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h1><span>we create </span> amazing layout </h1>
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption  lfl tp-resizeme small-text"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-60"
         data-speed="1500"
         data-start="2000"
         data-easing="Power1.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a adipiscinglib,</p>
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption  lfl tp-resizeme small-text"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-30"
         data-speed="1500"
         data-start="2000"
         data-easing="Power1.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
        <p>ultriceslectus. Cras porta nisl at tincidunt tincidunt.</p>
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption lfr tp-resizeme start-button"
         data-x="center" data-hoffset="-90"
         data-y="center" data-voffset="33"
         data-speed="2000"
         data-start="3500"
         data-easing="Power4.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="1000"
         data-endeasing="Power1.easeOut"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
        <button type="button" class="btn btn-danger" style="background-color:transparent;">see More
        </button>
    </div>
    <!-- LAYER NR. 5 -->
    <div class="lfr tp-caption tp-resizeme start-button"
         data-x="center" data-hoffset="90"
         data-y="center" data-voffset="33"
         data-speed="2500"
         data-start="4000"
         data-easing="Power4.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="1000"
         data-endeasing="Power1.easeOut"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
        <button type="button" class="btn btn-primary"
                style="background-color: #e84700;border:1px solid #e95e1d;">buy now
        </button>
    </div>
    <!-- LAYER NR. 6 -->
    <div class="tp-caption tp-resizeme lfb randomrotate down-arrow"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="230"
         data-speed="2200"
         data-start="5500"
         data-easing="Power4.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.01"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 3; max-width: 50px; max-height: 50px; white-space: nowrap;">
        <i class="scroll-bottom"><img src="img/slider_button.png" alt="arrow-down.png"
                                      class="img-responsive"></i>
    </div>
</li>
