<section class="wow zoomIn testimmonial section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonial-feed">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active text-center">
                                <div class="image-bar"><img src="img/testimonial.jpg" alt=""></div>
                                <p>“Perfection is achieved, not when there’s nothing more to add, but when theres is
                                    nothing left to take away.Laboriosam quae qui dolorem quasi molestias illo
                                    tempore optio amet, tempora deleniti. Magnam, distinctio!”</p>
                                <span class="pull-right"> Mark Robert</span>
                            </div>
                            <div class="item text-center">
                                <div class="image-bar"><img src="img/testimonial2.jpg" alt=""></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe hic deserunt,
                                    fugit animi doloribus. Tempore, laboriosam. Laboriosam quae qui dolorem quasi
                                    molestias illo tempore optio amet, tempora deleniti. Magnam, distinctio!</p>
                                <span class="pull-right">  Matt Route</span>
                            </div><!-- item text-center -->
                        </div><!-- carousel-inner -->
                    </div><!-- carousel -->
                </div><!-- testimonial-feed -->
                <div class="control-arrow">
                    <a class="right carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="next">
                        <i class="flaticon-previous11"></i>
                    </a>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="prev">
                        <i class="flaticon-next15"></i>
                    </a>
                </div><!-- /.control-arrow -->
            </div><!-- /.col-xs-12 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- testimonial -->
