---
layout: default
---

<div class="main">
  {% include header.html %}

<!--   Start Blog with Sidebar   -->

  <section class="blog-header section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="section-title">all blog post</h1>
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.blog-header -->


  <section class="blog-sidebar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          {% include blog/entries.html %}
          {% include blog/pagination.html %}
        </div>

        <div class="wow zoomIn col-xs-12 col-sm-12 col-md-4 ">
          {% include blog/category-list.html %}
          {% include blog/recent-posts-sidebar.html %}
          {% include blog/tag-cloud.html %}
        </div>
      </div>
    </div>
  </section>
</div>
