<section id="clean" class="clean-idea section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">clean idea and unique design</h1>
                <p>A designer knows he has achieved perfection not when there is nothingleft to add, but when there
                    is nothing left to take away.</p>
                <div class="button-set">
                    <button type="button" class="btn btn-danger"><i class="fa fa-link"></i>Read More</button>
                    <a href="#contact" class="page-scroll contact-us"><i class="fa fa-phone"></i>Contact Us</a>
                </div><!-- /.button-set -->
            </div><!-- col-xs-12 -->
        </div><!-- row-->
    </div><!-- container -->
</section><!-- /clean idea and unique design -->
