<section id="contact" class="contact-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">get in touch</h1>
                <p>Want to work with us? Get in touch!</p>
            </div>
            <div class="wow zoomIn col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

                <form name="contactForm" id='contact_form' method="post">

                    <div class="form-inline">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="name">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="email address">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="subject" id="exampleInputSubject" placeholder="subject">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="company" id="exampleInputCompany" placeholder="company">
                        </div>
                        <div class="form-group col-sm-12">
                            <textarea class="form-control" name="message" rows="3" id="exampleInputMessage" placeholder="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div id='mail_success' class='success' style="display:none;">
                            Your message has been sent successfully.
                        </div>
                        <div id='mail_fail' class='error' style="display:none;">
                            Sorry, error occured this time sending your message.
                        </div>
                    </div>
                    <div class="form-group col-sm-12" id='submit'>
                        <input type="submit" id='send_message' class="btn  btn-lg costom-btn" value="send">
                    </div>
                </form>
            </div>
            <div class="col-xs-12">
                <div class="contact-or">
                    <p>or</p>
                </div>
                <div class="icon-text">
                    <span>find us on</span>
                </div>
                <div class="icon-holder">
                    <ul>
                        <li>{% include components/icon-twitter.html username=site.twitter_username %}</li>
                        <li>{% include components/icon-linkedin.html company=site.linkedin_company %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
