<section class="partner-wrapper">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-sm-12">
                <div class="owl-wrap">
                    <div id="owl-example" class="owl-carousel">
                        <div class="feature-image"><img class="img-responsive" src="img/partner1.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner2.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner3.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner4.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner5.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner1.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner2.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner3.jpg" alt=""></div>
                        <div class="feature-image"><img class="img-responsive" src="img/partner4.jpg" alt=""></div>
                    </div><!-- /.owl-carousel -->
                </div><!-- /.owl-wrap -->
            </div><!-- /.col-sm-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- our partner -->
