<section id="team" class="our-team section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">meet our team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed
                    sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida
                    felis vitae ipsum pharetra maximus.</p>
            </div><!-- col-xs-12 -->
        </div><!-- row -->
        <div class="row">

            {% include main/team-member.html member=site.data.teamMember | first %}


            <div class=" wow zoomIn col-xs-12 col-sm-6 col-md-3">
                <div class="grid">
                    <figure class="effect-duke">
                        <img class="img-responsive" src="img/team2.jpg" alt="img09">
                        <figcaption>
                            <div class="icon-holder">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="team-designation">
                    <p>kendra hall</p>
                    <span>cto</span>
                </div>
            </div>
            <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                <div class="grid">
                    <figure class="effect-duke">
                        <img class="img-responsive" src="img/team3.jpg" alt="img09">
                        <figcaption>
                            <div class="icon-holder">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="team-designation">
                    <p>jessica morgan</p>
                    <span>programmer</span>
                </div>
            </div>
            <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                <div class="grid">
                    <figure class="effect-duke">
                        <img class="img-responsive" src="img/team4.jpg" alt="img09">
                        <figcaption>
                            <div class="icon-holder">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="team-designation">
                    <p>jenny terrell</p>
                    <span>market analyst</span>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- our team -->
