<section id="team" class="our-team section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">meet our team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed
                    sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida
                    felis vitae ipsum pharetra maximus.</p>
            </div><!-- col-xs-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% for member in site.data.teamMembers %}
                {% include main/team-member.html member=member %}
                {% endfor %}
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- our team -->
