<section class="protfolio section-padding" id="product">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding animated"
                 style="visibility: visible; animation-name: zoomIn;">
                <h1 class="section-title">our latest works</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed
                    sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida
                    felis vitae ipsum pharetra maximus.</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
    <div class="portfolio-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="wow zoomIn animated" id="filter"
                        style="visibility: visible; animation-name: zoomIn;">
                        <li><a data-group="all" href="#" class="active">all</a></li>
                        <li><a data-group="wordpress" href="#">wordpress</a></li>
                        <li><a data-group="video" href="#">video</a></li>
                        <li><a data-group="image" href="#">image</a></li>
                        <li><a data-group="branding" href="#">branding</a></li>
                    </ul><!-- /#filter -->
                </div><!-- /.col-xs-12 -->
            </div>
        </div>
    </div>


    <div class="row">
        <div id="grid" class="shuffle" style="position: relative; height: 600px;">
            <!-- portfolio-item -->
            <div data-groups='["all", "image", "video"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered animated"
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio01.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal1" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /.portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio01.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["all", "image","wordpress","branding"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio02.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal2" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio02.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["all", "image","wordpress", "circle", "video"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio03.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal3" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio03.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["image", "all","wordpress", "branding"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio04.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal4" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio04.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["all","wordpress", "video", "branding"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio05.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal5" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio05.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["image", "all","wprdpress", "branding", "video"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio06.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal6" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio06.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["all", "branding", "video"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio07.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal7" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X
                            </button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio07.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->


            <!-- portfolio-item -->
            <div data-groups='["image", "all", "wordpress", "video"]'
                 class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered "
                 style="margin:0; padding:0;">
                <div class="portfolio">
                    <figure class="effect-julia">
                        <img alt="img21" src="img/portfolio08.jpg">
                        <figcaption>
                            <div class="socials">
                                <a data-toggle="modal" data-target="#myModal8" href=""><i class="fa fa-expand"></i></a>
                                <a href=""><i class="fa fa-share animated"></i></a>
                            </div>
                            <div class="scoial-heading">
                                <p>Mornign Dew</p>
                                <strong>Icons, Illustrations</strong>
                            </div>
                        </figcaption>
                    </figure>
                </div><!-- /.portfolio -->
            </div><!-- /portfolio-item -->
            <!-- MODAL/POPUP -->
            <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">X</button>
                            <span class="modal-title" id="myModalLabel">Our recent work</span>
                        </div>
                        <div class="modal-body">
                            <img src="img/portfolio08.jpg" alt="img21"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL/POPUP -->
        </div> <!-- /grid -->
    </div><!-- /row -->
</section><!-- /our latest works -->
