<section id="services" class="service section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">our service</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed
                    sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida
                    felis vitae ipsum pharetra maximus.</p>
            </div><!-- col-xs-12 -->
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="left-column">
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa flaticon-christmas128"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Public speaking</h2>
                            <h3>We introduce new technologies</h3>
                            <span>in your company (or we deepen your internal knowledge)</span>
                        </div>
                    </div>
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa fa-database"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Greenfield development</h2>
                            <h3>Project setup</h3>
                            <span>Exactly what you need</span>
                        </div>
                    </div>
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <h2>Brownfield development</h2>
                            <h3>We help you escape the tar pit</h3>
                            <span>iusto odio</span>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-5 -->

            <div class="col-xs-6 col-sm-2 col-md-2 hidden-xs">
                <div class="image-box">
                    <img class="img-responsive" src="img/phn.png" alt="">
                </div>
            </div><!-- /col-md-2 -->

            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="right-column">
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa flaticon-leaf32"></i>
                            </a>
                        </div><!-- media left-->
                        <div class="media-body">
                            <h2>Attention to detail</h2>
                            <h3>Clean, consistent, conscise code</h3>
                            <span>iusto odio</span>
                        </div><!--/.media body-->
                    </div><!-- /.media -->
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa fa-rocket"></i>
                            </a>
                        </div><!-- media left-->
                        <div class="media-body">
                            <h2>A real definition of done</h2>
                            <h3>Automated tests and manual verification</h3>
                            <span>robust, qualititative</span>
                        </div><!--/.media body-->
                    </div><!-- /.media -->
                    <div class="wow zoomIn media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                            </a>
                        </div><!-- media left-->
                        <div class="media-body">
                            <h2>Cloud services</h2>
                            <h3>Microservices, serverless architecture</h3>
                            <span></span>
                        </div><!--/.media body-->
                    </div><!-- /.media -->
                </div><!-- /.right-column -->
            </div>
        </div><!-- row-->
    </div><!-- container -->
</section><!-- /our services -->
