<section id="services" class="service section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">{{ site.data.ourServices.title }}</h1>
                <p>{{ site.data.ourServices.sub }}</p>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="left-column">
                    {% assign aService = site.data.ourServices.speaking %}
                    {% include main/our-services-item.html service=aService %}

                    {% assign aService = site.data.ourServices.green %}
                    {% include main/our-services-item.html service=aService %}

                    {% assign aService = site.data.ourServices.brown %}
                    {% include main/our-services-item.html service=aService %}
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 hidden-xs">
                <div class="image-box">
                    <img class="img-responsive" src="img/phn.png" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="right-column">
                    {% assign aService = site.data.ourServices.detail %}
                    {% include main/our-services-item.html service=aService %}

                    {% assign aService = site.data.ourServices.dod %}
                    {% include main/our-services-item.html service=aService %}

                    {% assign aService = site.data.ourServices.cloud %}
                    {% include main/our-services-item.html service=aService %}
                </div>
            </div>
        </div>
    </div>
</section>
