<section id="contact" class="our-team section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 text-center p-padding">
                <h1 class="section-title">Contact</h1>
            </div><!-- col-xs-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% for member in site.data.teamMembers.members %}
                    {% if member.onIndex %}
                        <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                            {% include main/team-member.html member=member %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- our team -->
