{% assign splash = site.data.splash.splash1 %}
<li data-transition="fade" data-slotamount="25" data-masterspeed="2500"
    data-thumb="img/slider/slider_img_01-compressed.jpg" data-saveperformance="off">
    <!-- MAIN IMAGE -->
    <img src="img/slider/slider_img_01-compressed.jpg" alt="fullslide2" data-bgposition="center center"
         data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115"
         data-bgfitend="100" data-bgpositionend="center center">
    <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme head-tag"
         data-x="637"
         data-y="200"
         data-speed="1500"
         data-start="4500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#fff;">
        <h1>{{ splash.text1 }}</h1>
    </div>
    <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme head-tag"
         data-x="1090"
         data-y="200"
         data-speed="1500"
         data-start="5480"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#f9844c;">
        <h1>{{ splash.text2 }}</h1>
    </div>

    <!-- LAYERS -->
    <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme"
         data-x="637"
         data-y="282"
         data-speed="1500"
         data-start="5500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 5; max-width: auto; max-height: auto; font-size:45px;white-space: nowrap;color:#f9844c; margin-top: -10px;">
        <h1>{{ splash.text3 }}</h1>
    </div>
    <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme"
         data-x="1024"
         data-y="282"
         data-speed="1500"
         data-start="6500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="300"
         style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#fff;">
        <h1>{{ splash.text4 }}</h1>
    </div>


    <div class="tp-caption lft randomrotate customout"
         data-x="left"
         data-y="center" data-voffset="110"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="800"
         data-start="2000"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 9"><img src="img/slider/mobile-compressed.png" alt="" data-ww="550" data-hh="490">
    </div>

    <div class="tp-caption lfl randomrotate tp-resizeme"
         data-x="60"
         data-y="bottom" data-voffset="-70"
         data-speed="800"
         data-start="3000"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 9"><img src="img/slider/csharp.png" alt="" data-ww="125" data-hh="160">
    </div>

    <div class="tp-caption randomrotate tp-resizeme"
         data-x="210"
         data-y="bottom" data-voffset="-70"
         data-speed="800"
         data-start="4000"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 9"><img src="img/slider/js.png" alt="" data-ww="125" data-hh="160">
    </div>
    <div class="tp-caption sfr randomrotate tp-resizeme"
         data-x="360"
         data-y="bottom" data-voffset="-70"
         data-speed="800"
         data-start="5000"
         data-easing="Back.easeOut"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         data-captionhidden="on"
         style="z-index: 9"><img src="img/slider/html.png" alt="" data-ww="125" data-hh="160">
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption lfl tp-resizeme splash1-label1"
         data-x="637"
         data-y="365"
         data-speed="1000"
         data-start="8000"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap">
        <h2 class="small-title second-title">{{ splash.label1 }}</h2>
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption lfl tp-resizeme splash1-label2"
         data-x="637"
         data-y="420"
         data-speed="1000"
         data-start="8600"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap">
        <h2 class="small-title second-title">{{ splash.label2 }}</h2>
    </div>
    <!-- LAYER NR. 4 -->
    <div class="tp-caption lfl tp-resizeme splash1-label3"
         data-x="637"
         data-y="475"
         data-speed="1000"
         data-start="9400"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h2 class="small-title second-title">{{ splash.label3 }}</h2>
    </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption lfr tp-resizeme start-button"
         data-x="637"
         data-y="540"
         data-speed="1000"
         data-start="10500"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <a href="#contact">
            <button type="button" class="btn btn-primary" style="background-color: #e84700;border:1px solid #e95e1d;">
                {{ splash.button }}
            </button>
        </a>
    </div>
</li>
