{% assign splash = site.data.splash.splash2 %}
<li class="items" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500"
    data-thumb="img/slider/slider_img_02.jpg" data-delay="13000" data-saveperformance="on">
    <!-- MAIN IMAGE -->
    <img src="img/slider/slider_img_02.jpg" alt="kenburns1" data-bgposition="left center"
         data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100"
         data-bgfitend="130" data-bgpositionend="right center">
    <!-- LAYERS -->


    <!-- LAYER NR. 1 -->
    <div class="tp-caption very_large_text lfb ltt tp-resizeme head-tag"
         data-x="left" data-hoffset="20"
         data-y="center" data-voffset="-100"
         data-speed="600"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h1><span>{{ site.name }}</span></h1>
    </div>

    <!-- LAYER NR. 2 -->
    <div class=" tp-caption  lfl tp-resizeme"
         data-x="-100"
         data-y="340"
         data-speed="500"
         data-start="1500"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h2 class="small-title">{{ splash.text1 }}</h2>
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption  lfl tp-resizeme"
         data-x="-100"
         data-y="400"
         data-speed="1000"
         data-start="2000"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h2 class="small-title">{{ splash.text2 }}</h2>
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption  lfl tp-resizeme"
         data-x="-100"
         data-y="460"
         data-speed="2000"
         data-start="2500"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <h2 class="small-title">{{ splash.text3 }}</h2>
    </div>

    <!-- LAYER NR. 5 -->
    {% if site.display_jobs %}
    <div class="tp-caption lfr tp-resizeme"
         data-x="right" data-hoffset="100"
         data-y="bottom" data-voffset="-90"
         data-speed="3000"
         data-start="4000"
         data-easing="Power3.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
         <a href="/jobs">
            <button type="button" class="btn btn-default buy-btn">{{ splash.button }}</button>
        </a>
    </div>
    {% endif %}
</li>
