<div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
    <div class="grid">
        <figure class="effect-duke">
            <img class="img-responsive" src="{{ include.member.image }}" alt="img09">
            <figcaption>
                <div class="icon-holder">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="team-designation">
        <p>{{ include.member.name }}</p>
        <span>{{ include.member.title }}"</span>
    </div>
</div>
