<section class="partner-wrapper">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-sm-12">
                <div class="owl-wrap">
                    <div id="owl-example" class="owl-carousel">

                        <!-- 120x84 -->
                        <!-- Backend -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/net.jpg" title=".NET"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/node.jpg" title="Node JS"></div>

                        <!-- Frontend -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/javascript.png" title="JavaScript"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/react.png" title="React"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/angular.png" title="Angular"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/typescript.png" title="TypeScript"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/babel.jpg" title="Babel"></div>

                        <!-- Database -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/sql-server.jpg" title="Sql Server"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/mongodb.png" title="MongoDb"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/solr.png" title="Solr"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/postgres.png" title="Postgres"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/oracle.png" title="Oracle"></div>

                        <!-- Process -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/git.png" title="Git"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/scrum.png" title="Scrum"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/kanban.png" title="Kanban"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
