<section class="partner-wrapper">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-sm-12">
                <div class="owl-wrap">
                    <div id="owl-example" class="owl-carousel">

<!-- 120x84 -->


                        <div class="feature-image"><img class="img-responsive" src="img/techs/net.jpg" title=".NET"></div>

                        <!-- Frontend -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/typescript.png" title="TypeScript"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/javascript.png" title="JavaScript"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/angular.png" title="Angular"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/react.png" title="React"></div>

                        <!-- Database -->
                        <div class="feature-image"><img class="img-responsive" src="img/techs/sql-server.jpg" title="Sql Server"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/postgres.png" title="Postgres"></div>
                        <div class="feature-image"><img class="img-responsive" src="img/techs/mongodb.png" title="MongoDb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
