<section class="wow zoomIn testimmonial section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonial-feed">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            {% for testimonial in site.data.testimonials %}
                            <div class="item {% if forloop.index == 1 %}active{% endif %} text-center">
                                <div class="image-bar"><img src="{{ testimonial.img }}" alt=""></div>
                                <p class="excerpt">
                                    {{ testimonial.excerpt }}
                                    <!-- Buttons bound in script.js -->
                                    <a href="#" class="testimonial-show-full">read more</a>
                                </p>
                                <p class="full" style="display: none">{{ testimonial.desc }}</p>
                                <div class="name">
                                    <span class="pull-right">{{ testimonial.name }}</span>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div><!-- carousel -->
                </div><!-- testimonial-feed -->
                <div class="control-arrow">
                    <a class="right carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="next">
                        <i class="flaticon-previous11"></i>
                    </a>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="prev">
                        <i class="flaticon-next15"></i>
                    </a>
                </div><!-- /.control-arrow -->
            </div><!-- /.col-xs-12 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- testimonial -->
