<section id="about" class="who-we-are section-padding">
    <div class="container">
        <div class="row">
            <div class="wow zoomIn col-xs-12 col-lg-12 text-center p-padding">
                <h1 class="section-title">{{ site.data.whoWeAre.title }}</h1>
                <p>{{ site.data.whoWeAre.sub }}</p>
            </div>

            <h2>Our Core Values</h2>

            {% include main/who-we-are-section.html section=site.data.whoWeAre.section1 %}
            {% include main/who-we-are-section.html section=site.data.whoWeAre.section2 %}
            {% include main/who-we-are-section.html section=site.data.whoWeAre.section3 %}
            {% include main/who-we-are-section.html section=site.data.whoWeAre.section4 %}

        </div>
    </div>
</section>
