---
layout: default-blog
permalink: /events/timeline
---

<div class="main main-timeline">
    {% include header.html context="blog" %}

    <h1>Past Events</h1>

    <div class="timeline-container">
        <div class="timeline">
            {% for event in site.data.events %}
                <div class="timeline-container {{ event.track }}">
                    <div class="timeline-icon">
                        <i class="fa fa-smile-o"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title">
                            <span class="badge badge-track {{ event.track }}">{{ event.track }}</span>
                            <span class="badge badge-content {{ event.content }}">{{ event.content }}</span>
                            <span class="badge badge-level {{ event.level }}">{{ event.level }}</span>
                            {{ event.name }}
                            <small>- {{ event.subTitle }}</small>

                            <div style="float: right">
                                <i class="fa fa-clock-o"></i> {{ event.duration }}
                            </div>
                        </h4>
                        <p>{{ event.summary }}</p>
                        <p class="timeline-subtitle">{{ event.date }}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
