---
layout: default-freelance
permalink: /freelance/104/senior-it-project-manager
id: 104
title: "Senior IT Project Manager"
subTitle: Region Zaventem
---

<div style="padding: 8px">
    <h1>This opportunity is no longer vacant</h1>
    <h2>Check these recently added opportunities:</h2>
</div>

{% assign allJobs = site.data.freelance | sort:"date" | reverse | slice: 0, 7 %}
{% for freelanceJob in allJobs %}
    {% if freelanceJob.published %}
        {% include freelance/freelance-job.html job=freelanceJob %}
    {% endif %}
{% endfor %}
