---
layout: default-freelance
permalink: /freelance/178/system-engineer-it-analyst
id: 178
title: "System engineer/IT Analyst"
subTitle: Region Beerse
---

<div style="padding: 8px">
    <h1>This opportunity is no longer vacant</h1>
    <h2>Check these recently added opportunities:</h2>
</div>

{% assign allJobs = site.data.freelance | sort:"date" | reverse | slice: 0, 7 %}
{% for freelanceJob in allJobs %}
    {% if freelanceJob.published %}
        {% include freelance/freelance-job.html job=freelanceJob %}
    {% endif %}
{% endfor %}
