---
layout: default-freelance
permalink: /freelance/6/full-stack-net-developer
id: 6
title: "Full Stack .NET Developer"
subTitle: Region Brugge
---

<div style="padding: 8px">
    <h1>This opportunity is no longer vacant</h1>
    <h2>Check these recently added opportunities:</h2>
</div>

{% assign allJobs = site.data.freelance | sort:"date" | reverse | slice: 0, 7 %}
{% for freelanceJob in allJobs %}
    {% if freelanceJob.published %}
        {% include freelance/freelance-job.html job=freelanceJob %}
    {% endif %}
{% endfor %}
