<!-- footer -->
<footer>
    <div class="footer-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                    <div class="logo">
                        <span class="white">i</span>
                        <span class="dark-orange">tenium</span>
                    </div>
                    <p class="footer-content">{{ site.description }}</p>
                </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                <div class="wow zoomIn col-xs-12 col-sm-3 col-md-3">
                    <p class="footer-heading">link</p>
                    {% include menus.html footermenu=true onIndex=layout.onIndex %}
                </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                    <p class="footer-heading">find us</p>
                    <ul class="footercontact">
                        <li><i class="flaticon-mainpage"></i><span>address:</span> {{ site.address }}</li>
                        <li><i class="flaticon-phone16"></i><span>phone:</span><a href="tel:{{ site.tel | replace: ' ', '' }}"> {{ site.tel }}</a></li>
                        <li><i class="flaticon-email21"></i><span>e-mail:</span><a href="mailto:{{ site.email }}"> {{ site.email }}</a></li>
                        <li><i class="flaticon-world91"></i><span>web:</span><a href="{{ site.url }}"> {{ site.url }}</a></li>
                        <li>
                            {% include components/icon-twitter.html username=site.twitter_username %}
                            <span style="margin-left: -5px">Twitter:</span><a href="https://twitter.com/{{ site.twitter_username }}"> {{ site.twitter_username }}</a>
                        </li>
                        <li>
                            {% include components/icon-linkedin.html company=site.linkedin_company %}
                            <span style="margin-left: -5px">LinkedIn:</span><a href="https://sg.linkedin.com/company/{{ site.linkedin_company }}"> {{ site.linkedin_company }}</a>
                        </li>
                    </ul>
                    <i class="flaticon-home78"></i>
                </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
                <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
                    <p class="footer-heading">recent posts</p>
                    <ul class="footerblog">
                        {% include blog/recent-posts-footer.html %}
                    </ul>
                </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="wow zoomIn col-xs-12">
                    <p>© 2017-2018 All rights reserved. <span>{{ site.name }}</span></p>
                    <div class="backtop pull-right">
                        <i class="fa fa-angle-up back-to-top"></i>
                    </div><!-- /.backtop -->
                </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.creditwrapper -->
</footer><!-- /Footer -->


<!-- jQuery JS -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- Modernizr JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
<!--Bootatrap JS-->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- REVOLUTION Slider  -->
<script type="text/javascript" src="/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
<!-- Shuffle JS -->
<script src="/js/jquery.shuffle.min.js"></script>
<!-- mmenu -->
<script type="text/javascript" src="/vendor/mmenu/js/jquery.mmenu.min.js"></script>
<!-- Owl Carosel -->
<script src="/vendor/owl/js/owl.carousel.min.js"></script>
<script src="/js/wow.min.js"></script>
<!-- waypoints JS-->
<script src="/js/waypoints.min.js"></script>
<!-- Counterup JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- Easing JS -->
<script src="/js/jquery.easing.min.js"></script>
<!-- Smooth Scroll JS -->
<script src="/js/scrolling-nav.js"></script>
<script src="/js/smoothscroll.min.js"></script>
<!-- Custom Script JS -->
<script src="/js/script.js"></script>
<!-- Email JS -->
<script src="/js/email.js"></script>

<script>
    $(window).on('scroll', function(){
    if( $(window).scrollTop()>670 ){
    $('.navbar-default').addClass('navbar-fixed-top');
    } else {
    $('.navbar-default').removeClass('navbar-fixed-top');
    }
    });
</script>
