{% assign meta = site.data.jobs %}
{% assign job = include.job %}
<div class="job-content col-md-7">
    <h1>{{ job.title }}</h1>
    {% assign xp = meta.xp | where: "type", job.xp | first %}
    <small>
        {% unless job.xpSupressLanguage %}
            {{ meta.dutchOnly }}
        {% endunless %}
        {% if xp %}
            {{ xp.desc }}
            {% if xp.extra %}
                <span style="text-transform: none">{{ xp.extra }}</span>
            {% endif %}
        {% else %}
            {{ job.xpDesc }}
        {% endif %}
        <span style="text-transform: none">
            {{ job.xpExtra }}
        </span>
    </small>


    {% assign jobInfo = meta.types | where: "type", job.type | first %}
    <div style="margin-top: 15px; margin-bottom: -8px">{{ jobInfo.yourProfile }}</div>


    <h2 class="job-title" style="margin-top: 25px">Do you</h2>
    <ul>
        {% for you in meta.doYou %}
            <li>{{ you }}</li>
        {% endfor %}
    </ul>


    <h2 class="job-title">Technologies</h2>
    {% for techGroup in job.techs %}
        <h3 class="job-subtitle">{{ techGroup.title }}</h3>
        {% if techGroup.subtitle %}
            <div>{{ techGroup.subtitle }}</div>
        {% endif %}
        <ul>
            {% for tech in techGroup.techs %}
                <li>{{ tech }}</li>
            {% endfor %}
        </ul>
        {% if techGroup.learn %}
            <div style="margin-top: 8px">{{ jobInfo.learn }}</div>
        {% endif %}
    {% endfor %}



    <h2 class="job-title">Are you</h2>
    <ul>
        {% for you in meta.areYou %}
            <li>{{ you }}</li>
        {% endfor %}
    </ul>


    <h2 class="job-title">Our offer</h2>
    <ul>
        {% for offer in meta.ourOffer %}
            <li>{{ offer }}</li>
        {% endfor %}
    </ul>

    <h3 style="font-weight: bold; margin-top: 20px; margin-bottom: 10px">Our edge over generic consultancies</h3>
    <ul>
        {% for edge in meta.ourEdge %}
            <li>{{ edge }}</li>
        {% endfor %}
    </ul>


    <h2 class="job-title">Interested?</h2>
    <div style="font-size: 17px; margin-left: 21px;">
        <div><i class="flaticon-email21 small-flaticon"></i><a href="mailto:{{ site.email.jobs }}"> {{ site.email.jobs }}</a></div>
        <div><i class="flaticon-phone16 small-flaticon"></i><a href="tel:{{ site.tel | replace: ' ', '' }}"> {{ site.tel }}</a></div>
    </div>
</div>



<div class="col-md-5" style="margin-top: -25px">
    <div class="jobs-sidebar">
        <i class="fa fa-building-o fa-2x"></i>
        <div class="sidebar-content">
            We aim to be a young, dynamic company with a drive to keep learning and having fun in the process.
        </div>
    </div>

    <div class="jobs-sidebar">
        <i class="fa fa-superpowers fa-2x"></i>
        <div class="sidebar-heading">
            Developers
        </div>
        <div class="sidebar-content">
            People are the core of our business.
            <br>
            Investing in them is only natural.
        </div>
    </div>


    <div class="jobs-sidebar">
        <i class="fa fa-graduation-cap fa-2x"></i>
        <div class="sidebar-heading">
            Continuous improvement
        </div>
        <div class="sidebar-subheading">
            Our mission is to facilitate your learning trajectory.
        </div>

        <div class="sidebar-content">
            <dd>You desire training?</dd> <dt>You get training.</dt>
            <br>
            <dd>You'd like Pluralsight access?</dd> <dt>Access, you get.</dt>
            <br>
            <dd>You want a book?</dd> <dt><a href="/library">The library at your disposal.</a></dt>
        </div>
    </div>


    <div class="jobs-sidebar">
        <span class="fa-stack fa-lg">
            <i class="fa fa fa-sitemap fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x"></i>
        </span>
        <div class="sidebar-heading">
            Culture
        </div>
        <div class="sidebar-subheading">
            What makes us special?
        </div>
        <div class="sidebar-content">
            A cozy group of open-minded IT enthusiasts having fun together.
            We achieve this with technical sessions, bootcamps &amp; team events.
            <br>
            Only through self-criticism and iteration can we improve ourselves.
            <br>
            A profound professionalism and dedication towards our customers.
        </div>
    </div>
</div>
