{% if include.footermenu %}
    <ul class="footermenu">
        <li><a data-scroll data-options='{ "easing": "easeInQuad" }' href="/index.html#about">about us</a></li>
        <li><a data-scroll data-options='{ "easing": "easeInQuad" }' href="/index.html#services">services</a></li>
        <li><a data-scroll data-options='{ "easing": "easeInQuad" }' href="/index.html#team">team</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/jobs">jobs</a></li>
    </ul>

{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="/index.html#home">Home</a></li>
        <li><a class="page-scroll" href="/index.html#about">about us</a></li>
        <li><a class="page-scroll" href="/index.html#services">services</a></li>
        <li><a class="page-scroll" href="/index.html#team">team</a></li>
        <li><a class="page-scroll" href="/blog">Blog</a></li>
        <li><a class="page-scroll" href="/jobs">Jobs</a></li>
        <li><a class="page-scroll" href="/index.html#contact">Contact</a></li>
        <!-- Search Block -->
        <!--
        <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open" style="display:none;">
                <div class="input-group animated fadeInDown">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button">Go</button>
                    </span>
                </div>
            </div>
        </li>
        -->
    </ul>

    <!-- Mobile menu -->
    <nav id="menu">
        <ul>
            <li><a href="/index.html#home">home</a></li>
            <li><a href="/index.html#about">about us</a></li>
            <li><a href="/index.html#services">services</a></li>
            <li><a href="/index.html#team">team</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/jobs">jobs</a></li>
            <li><a href="/index.html#contact">contact</a></li>
        </ul>
    </nav>
{% endif %}
