{% if include.onIndex %}
{% assign dataScroll = "data-scroll" %}
{% else %}
{% assign urlPrefix = "/index.html" %}
{% endif %}

{% if include.footermenu %}
    <ul class="footermenu">
        <li><a {{dataScroll}} data-options='{ "easing": "easeInQuad" }' href="{{urlPrefix}}#home">home</a></li>
        <li><a {{dataScroll}} data-options='{ "easing": "easeInQuad" }' href="{{urlPrefix}}#about">about us</a></li>
        <!-- <li><a {{dataScroll}} data-options='{ "easing": "easeInQuad" }' href="{{urlPrefix}}#services">services</a></li> -->
        <!-- <li><a {{dataScroll}} data-options='{ "easing": "easeInQuad" }' href="{{urlPrefix}}#team">team</a></li> -->
        <li><a href="/blog">blog</a></li>
        <!-- <li><a href="/jobs">jobs</a></li> -->
        {% if site.feature_flags.freelance_jobs %}<li><a href="/vacancies">vacancies</a></li>{% endif %}
        <li><a {{dataScroll}} data-options='{ "easing": "easeInQuad" }' href="{{urlPrefix}}#contact">contact</a></li>
    </ul>

{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="{{urlPrefix}}#home">Home</a></li>
        <li><a class="page-scroll" href="{{urlPrefix}}#about">about us</a></li>
        <!-- <li><a class="page-scroll" href="{{urlPrefix}}#services">services</a></li> -->
        <!-- <li><a class="page-scroll" href="{{urlPrefix}}#team">team</a></li> -->
        <li><a class="page-scroll" href="/blog">Blog</a></li>
        <!-- <li><a class="page-scroll" href="/jobs">Jobs</a></li> -->
        {% if site.feature_flags.freelance_jobs %}<li><a class="page-scroll" href="/vacancies">Vacancies</a></li>{% endif %}
        <li><a class="page-scroll" href="{{urlPrefix}}#contact">Contact</a></li>
        <!-- Search Block -->
        <!--
        <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open" style="display:none;">
                <div class="input-group animated fadeInDown">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button">Go</button>
                    </span>
                </div>
            </div>
        </li>
        -->
    </ul>
    <!-- Mobile menu -->
    <nav id="menu">
        <ul>
            <li><a href="{{urlPrefix}}#home">home</a></li>
            <li><a href="{{urlPrefix}}#about">about us</a></li>
            <!-- <li><a href="{{urlPrefix}}#services">services</a></li> -->
            <!-- <li><a href="{{urlPrefix}}#team">team</a></li> -->
            <li><a href="/blog">blog</a></li>
            <li><a href="/jobs">jobs</a></li>
            {% if site.feature_flags.freelance_jobs %}<li><a href="/vacancies">vacancies</a></li>{% endif %}
            <li><a href="{{urlPrefix}}#contact">contact</a></li>
        </ul>
    </nav>
{% endif %}
