{% if include.html contains '<h' %}
<div class="blog-sidebar sidebar">
    <div class="sidebar-heading">
        {% if include.toc.icon contains "icon-" %}
            <i class="{{ include.toc.icon }}"></i>
        {% else %}
            <i class="fa fa-{{ include.toc.icon | default: 'file-text' }}"></i>
        {% endif %}

        {{ include.toc.title }}
        {% include components/edit-post.html %}
    </div>

    <div class="toc__menu">
        {% include toc-inner.html html=include.html %}
    </div>
</div>
{% endif %}
