pre {
    margin-bottom: 20px;
}

.navbar-default.blog {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-extras {
    margin-bottom: 15px;
}

.blog-content:not(.pagination-content) {
    .anchorjs-link {
        transition: all .25s linear;
        color: #AAAAAA !important;
    }

    .anchorjs-link:hover {
        color: #FF5231 !important;
    }

    .contents {
        *:hover > .anchorjs-link {
            margin-left: -1.125em !important;
        }
    }


    ul {
        list-style-type: unset;

        li {
            margin-left: 25px;
        }
    }

    .contents {
        > ul {
            margin-bottom: 18px;
        }

        h1 {
            font-size: 32px;
            text-transform: none;
            margin-top: 20px;
            margin-bottom: 7px;
        }

        h2 {
            font-size: 20px;
            text-transform: none;
            margin-top: 20px;
            margin-bottom: 7px;
            letter-spacing: unset;
        }

        h3 {
            font-size: 18px;
            text-transform: none;
            margin-top: 15px;
            margin-bottom: 7px;
        }

        h4 {
            margin-top: 18px;
            font-weight: bold;
            color: black;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
            line-height: 1.5;
        }

        .title-url {
            float: right;
            margin-bottom: 0;
        }
    }
}


figure.youtubemovie,
figure.imagewrapper {
    max-width: 560px;

    .iframewrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    figcaption {
        display: block;
        text-align: center;
        margin: 2px 0;
        font-style: italic;
        font-size: 14px;
        orphans: 2;
    }
}



kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
}


table.table-base {
    margin-bottom: 15px;
    border-collapse: collapse;
    display: block;
    overflow: auto;

    th {
        font-weight: 600;
    }

    th, td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
    }

    tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;

        &:nth-child(even) {
            background-color: #f6f8fa;
        }
    }

    thead tr {
        background-color: #f6f8fa;
    }
}

table.table-code {
    @extend .table-base;
    width: 100%;

    th:first, table td:first {
        width: 50%;
    }

    td b {
        font-weight: 600;
    }
}

.no-wrap-first-column {
  td:first-child {
    white-space: nowrap;
  }
}


table.table-excel {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;

    th, tr td:first-child {
        background-color: #EEE;
        color: #222;
        text-align: center;
        font-weight: normal;
        white-space: nowrap;
    }

    th, td {
        border: 1px solid #CCC;
        padding: 5px;
    }

    tbody tr:first-child {
        color: white;
        background-color: #089DE3;
    }
}



.webfeedsFeaturedVisual {
    display: none;
}

.blog-content.excerpt {
    h1 {
        .subtitle {
            text-transform: none;
            font-size: 18px;
        }

        .date-published {
            font-size: 14px;
        }
    }

    .hide-from-excerpt {
        display: none;
    }

    .row {
        padding: 0;
    }

    .contents {
        margin-bottom: 10px;
    }
}


/*===============================================================
                    Category & Tag Badges
================================================================*/

.tag-links {
    clear: both;
    display: inline;
}

.tag-text, .cat-text {
    color: #9ba1a6;
    font-weight: bold;
}

.tag-links {
    display: inline;
}

.badge {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 0 3px .4em 0;
    padding: 1px 3px;
}

.tag-links a {
    @extend .badge;
    background-color: rgba(57,172,160,1.0);
}
.tag-links a:hover {
    background-color: #63c8bd;
}

.cat-links a {
    @extend .badge;
    background-color: rgba(243,133,31,1.0);
}
.cat-links a:hover {
    background-color: #f5a061;
}



/*===============================================================
                         Full Width Blog
================================================================*/

.blog-header {
    background: #ffffff url("../img/blog-background.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}

.blog-header:before {
    background: rgba(0,0,0,0.8);
    background-size: cover;
    position: absolute;
    top: 0;
    content: " ";
    width: 100%;
    height: 100%

}
.blog-header .section-title {
    color: #ffffff;
}


.blog-date {
    margin-right: 50px;
}

.blog-sidebar .blog-date {
    margin-right: 0;
    max-width: 100px;
}

.blog-date p {
    background: #f54828;
    padding: 10px 25px 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
}

.blog-date > p > span {
    display: block;
}

.blog-sidebar .blog-date p {
    font-size: 18px;
    max-width: 100px;
}

.blog-date p span {
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
}

.blog-sidebar .blog-date p span {
    font-size: 38px;
    line-height: 38px;
}

.blog-content h1 a {
    color: #1a1a1a;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 27px;
}

.contents strong {
    font-weight: bold;
}

.contents p {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.contents li, .contents div {
    color: black;
}

.blog-sidebar .blog-content .contents {
    font-size: 13px;
}

.blog-content button {
    font-weight: 300;
    text-transform: capitalize;
    background: none;
    border:  1px solid #e2e2e2;
    color:  #6b6b6b ;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
    float: right;
    -webkit-transition: all  ease-in-out 0.30s;
    -moz-transition: all  ease-in-out 0.30s;
    -o-transition: all  ease-in-out 0.30s;
    -ms-transition: all  ease-in-out 0.30s;
    transition: all  ease-in-out 0.30s;
}


.blog-content button:hover {
    border:  1px solid #f54828;
    color:  #f54828;
}

.blog-content .video-area {
    height: 600px;
    width: 100%;
}

.blog-sidebar .blog-content .video-area {
    height: 450px;
    width: 100%;
}



/*===============================================================
                         Table of Contents
================================================================*/

.toc__menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: #7a8288;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #f2f3f3;
}

.toc__menu a:hover {
    color: #000;
    background: #f2f3f3;
    text-decoration: underline;
}

.toc__menu li ul>li a {
    padding-left: 2rem;
    font-weight: normal;
}

.toc__menu li>ul li {
    display: none;
}

.toc__menu li>ul li>ul li {
    padding-left: 2rem;
}

@media (min-width: 48em) {
    .toc__menu li>ul li {
        display:block;
    }
}




/*===============================================================
                         Blog pagination
================================================================*/

$pagination-background: #e7e7e7;

.blog-content .pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 9px 16px;
    color: #6b6b6b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: $pagination-background;
    border: none;
    margin: 0 1px;
}

.blog-content .container-fluid .pagination-lg > li > a,
.blog-content .container-fluid .pagination-lg > li > span {
    margin: 0 -1px 0 0 ;
}

.blog-content.pagination-content .container-fluid .row {
    padding: 0px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-radius: 0px;
    margin: 0 1px 0 0;
    text-transform: capitalize;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    margin: 0 0 0 1px;
}

.blog-content .container-fluid .pagination-lg > li:last-child > a,
.blog-content .container-fluid .pagination-lg > li:last-child > span {
    margin: 0 0 0 -1px;
}

.pagination-lg > li:first-child > a > span,
.pagination-lg > li:last-child > a > span {
    font-size: 20px ;
    line-height: 10px;
    position: relative;
    top: 2px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background: darken($pagination-background, 10%);
    color: #ffffff;
}

.pagination > li > a.active {
    background-color: darken($pagination-background, 5%);
    cursor: default;
}


.blog-content.pagination-content {
    padding: 0px;
}

/*===============================================================
                         Blog Sidebar
================================================================*/

.sidebar {
    margin: 15px 0;
    padding: 0 15px;
    border: 1px solid #dddddd;
}

.blog-sidebar .list-group-item {
    border-width: 1px 0 1px 0;
    border-color: #ececec;
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #8b8b8b;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 0;
}

.blog-sidebar .list-group-item span {
    font-weight: 300;
}

.blog-sidebar .list-group-item:first-child,
.blog-sidebar .list-group-item:last-child {
    border-radius: 0;
}

.blog-sidebar .list-group-item.active,
.blog-sidebar .list-group-item.active:hover,
.blog-sidebar .list-group-item.active:focus,
.blog-sidebar .sidebar-heading {
    background: transparent;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0 0 0 0;
    letter-spacing: 1.5px;
}

.blog-sidebar .list-group-item.active {
    position: relative;
}

.blog-sidebar .list-group-item.active:before,
.blog-sidebar .sidebar-heading:before {
    content: " ";
    border-width: 0 0 2px 0;
    border-color: rgba(232,71,0, 1);
    border-style:  solid ;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blog-sidebar a.list-group-item:hover, .blog-sidebar a.list-group-item:focus {
    background: transparent;
    color: rgba(232,71,0,1);
}


.blog-sidebar .media {
    margin: 15px 0 ;
}

.blog-sidebar .media h3 {
    padding-top: 7px;
}
.blog-sidebar .media .media-body h3 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4e4e4e;
    text-transform: uppercase;
}

.blog-sidebar .media .media-body h3 a:hover {
    color: rgba(232,71,0,1);
}

.blog-sidebar .media .media-body p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #9a9a9a;
    font-weight: 300;
    line-height: 15px;
    }

.blog-sidebar .media .media-body a span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #4e4e4e;
    text-transform: capitalize;
    font-weight: 300;
    -webkit-transition: color ease 0.35s;
    -moz-transition: color ease 0.35s;
    -ms-transition: color ease 0.35s;
    -o-transition: color ease 0.35s;
    transition: color ease 0.35s;
}

.blog-sidebar .media .media-body a:hover span {
    color: rgba(232,71,0,1);
}

.media .media-left .media-object {
    max-width: 100px;
}

.blog-sidebar .sidebar-heading {
    padding: 11px 0 8px 0;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.blog-sidebar.tag-cloud ul {
    padding: 19px 0;
}

.blog-sidebar.tag-cloud ul li {
    display: inline-block;
    margin: 10px 0;
}

.blog-sidebar.tag-cloud ul li a {
    background: transparent;
    margin-right: 5px;
    border: 1px solid #dddddd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #999999;
    text-transform: uppercase;
    padding: 10px 5px 10px 12px;
}

.blog-sidebar.tag-cloud ul li a:hover {
    background: rgba(272,45,40,0.9);
    color: #ffffff;
}



/*===============================================================
                         Notices
================================================================*/

@mixin notice($notice-color) {
  margin: 1em 0;
  padding: 1em;
  font-size: 16px !important;
  text-indent: initial;
  background-color: mix(#fff, $notice-color, 90%);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba($notice-color, 0.25);

  h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;

    &:hover {
      color: mix(#000, $notice-color, 40%);
    }
  }

  code {
    background-color: mix(#fff, $notice-color, 95%);
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice {
  @include notice(#7a8288);
}

.notice--info {
  @include notice(#f89406);
}

.notice--danger {
  @include notice(#ee5f5b);
}



/*===============================================================
                    Prev/Next post links
================================================================*/

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  margin: -20px 10px 10px;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }
}





/*===============================================================
                    Blog Search
================================================================*/

#results-container {
    // probably done inline :p
}
