/*------------------------------------------
    -   JOBS  -
--------------------------------------------*/

@media (max-width: 650px) {
    .section-title:before {
        display: none;
    }
}

.jobs {
    padding-top: 40px;
}

.jobs h1 + small {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    color: #777;
    font-weight: normal;
    margin-bottom: 15px;
}

.jobs .job-title {
    margin-top: 35px;
}

.jobs .job-title + * {
    margin-top: 10px;
}

.jobs ul {
    list-style-type: circle;
    margin-left: 35px;
}

.jobs .job-content {
    padding-right: 50px;
    padding-bottom: 35px;
}


.jobs-sidebar {
    margin: 35px 0;
    padding: 0 15px;
    border: 1px solid #dddddd;
}

.jobs-sidebar .sidebar-heading {
    padding: 11px 0 8px 0;
    border-bottom: 1px solid #ececec !important;
    position: relative;
}

.jobs-sidebar .sidebar-subheading {
    padding: 11px 0 0px 0;
}

.jobs-sidebar .sidebar-heading {
    background      : transparent;
    color           : #4e4e4e;
    font-size       : 16px;
    font-weight     : bold;
    text-transform  : uppercase;
    border-width    : 0 0 0 0;
    letter-spacing  : 1.5px;
}

.jobs-sidebar .sidebar-heading:before {
    content         : " ";
    border-width    : 0 0 2px 0;
    border-color    : rgba(232,71,0, 1);
    border-style    :  solid ;
    width           : 60px;
    position        : absolute;
    bottom          : 0;
    left            : 0;
}

.jobs-sidebar .sidebar-content {
    padding: 15px;
}

.jobs-sidebar > i.fa:first-child {
    color: #E84700;
    background-color: white;
    padding-right: 7px;
    padding-bottom: 7px;

    position: absolute;
    left: 3px;
    margin-top: -10px;
}

.jobs-sidebar span:first-child {
    color: #E84700;
    background-color: white;
    padding-right: 7px;
    padding-bottom: 7px;

    position: absolute;
    left: -2px;
    margin-top: -17px;
}

.jobs-sidebar .sidebar-content dd {
    display: inline;
    color: rgb(232, 71, 0);
}

.jobs-sidebar .sidebar-content dt {
    display: inline;
}

.jobs .job-contact-container {
    margin-bottom: 25px;
}




/*------------------------------------------
-               FREELANCE                  -
--------------------------------------------*/

.recruiter-contact {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;

    a {
        margin-right: 14px;

        + span {
            margin-right: 8px;
        }
    }
}

.jobs-listing {
    border: 1px solid #dddddd;
    padding: 0;
    margin-bottom: 8px;

    .job-listing-item {
        display: block;
        width: 100%;

        h2 {
            text-transform: none;
        }

         cursor: pointer;
         padding: 15px;

         button {
            float: right;
         }
    }

    .job-listing-item:hover {
        background-color: #F8F8F8;
    }

    .job-listing-item-sep {
        margin: 0;
    }


    .freelace-job-full {
        padding: 10px;

        $jobs-color: black; // #A6A6A6
        $jobs-font: 'Roboto Condensed', sans-serif;
        color: $jobs-color !important;
        p, span {
            color: $jobs-color !important;
            font-family: $jobs-font !important;
            margin-left: 0 !important;
            font-size: 12pt !important;
        }
        li {
            color: $jobs-color !important;
            font-family: $jobs-font !important;
        }

        i {
            font-style: normal !important;
        }

        td {
            // color: $jobs-color !important;
            font-family: $jobs-font !important;
        }

        table {
            margin: -10px;
            width: 100% !important;

            td {
                padding: 8px !important;
            }
        }

        ul {
            list-style-position: inside;
            margin-bottom: 12px;
            margin-right: 12px;
            margin-top: 12px;

            li {
                margin-left: 24px !important;
            }
        }

        h1, h2, h3, h4 {
            color: black;
        }

        strong, strong span, b, b span {
            font-weight: bolder;
        }
    }
}

.return-to-all-jobs {
    position: absolute;
    margin-top: -61px;
    left: 10px;
    padding: 6px;
    border: 1px solid #261B17;
    background-color: #281E19;
}


.freelance-search-results {
    h3 {
        font-size: 20px;
        margin-top: 7px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    i {
        margin-left: 6px;
        margin-right: 6px;
    }

    a:link,
    a:visited {
        color: black;
    }

    a:hover {
        color: black;
        text-decoration: underline !important;
    }

    a:active {
        color: black;
    }

    small {
        margin-left: 6px;
    }
}
