.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0;     // whitespaces go away
    height: 23px;

    span{
        height:100%;
        display: inline-block;
        font-size: 23px;
        line-height: 23px;
    }
}

.dark-orange {
    color: $dark-orange;
}

.dark-gray {
    color: $dark-gray;
}

.white {
    color: $white;
}
