.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0;     // whitespaces go away
    height: 23px;

    span{
        height:100%;
        display: inline-block;
        font-size: 23px;
        line-height: 23px;
    }
}

.dark-orange {
    color: $dark-orange;
}

.dark-gray {
    color: $dark-gray;
}

.white {
    color: $white;
}

.team-designation {
    span{
        display: block;
        height: 15px;
    }
}

.small-flaticon:before{
    font-size  : 17px;
    margin     : 0 8px 0 0;
}

.blog-description {
    min-height: 100px;
}


code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #e0e2e4; // previous #eef;
  color: #4a4a4a;
  padding: 1px 5px;
}

.cookie-notice {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: rgba(37, 37, 37, 0.9);
  font-size: 12px;
  z-index: 999;
}

a.rss-link, a.rss-link:link, a.rss-link:visited, a.rss-link:hover, a.rss-link:active {
  margin-left: 6px;
  color: #E74600;
}


.privacy-statement {
  h2 {
    margin-top: 26px;
  }

  h3 {
    margin-top: 28px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  ul {
    list-style-type: disc;
    margin: 10px 0px 10px 24px;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #929292;
  }

  p {
    margin-top: 21px;
  }
}
