<div class="sidebar">
    <div class="list-group">
        <div class="sidebar-heading">
            categories
        </div>
        <ul>
            {% for cat in site.categories %}
                <a href="/blog/cats/#{{ cat | first }}" class="list-group-item">
                    {% assign catName = cat | first | strip %}
                    <i class="{{ site.data.blog.categories[catName] }}" style="margin-right: 8px; color: #E84801; font-size: 1.5em;"></i>
                    <b>{{ catName }}</b>
                    <span class="pull-right">({{ cat | last | size }})</span>
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
