{% assign post = include.post %}
<div class="blog-content">
    <div class="row">
        {% if post.bigimg %}
            <div class="col-xs-12">
                <img class="img-responsive" src="{{ 'assets/' | append: post.bigimg | absolute_url }}" />
            </div>
        {% endif %}
        <div class="wow col-md-12">
            <h2>{{ post.title }}</h2>
            posted in <a href="/blog/cats/#{{post.categories}}">{{ post.categories }}</a>

            {% assign postDate = post.date | date: "%-d %B %Y" %}
            on
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ postDate }}
            </time>

            {% if post.author %}
                •
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    by <span itemprop="name">{{ post.author }}</span>
                </span>
            {% endif %}

            <div class="contents" style="margin-top: 15px">
                {{ post.content }}
            </div>
        </div>
    </div>
</div>
