{% assign post = include.post %}
<div class="blog-content excerpt">
    <div class="row">
        <div class="col-xs-12">
            <!--
            Include video instead of image?
            <div class="wow zoomIn col-xs-12">
                <iframe src="http://player.vimeo.com/video/80255970?color=569eba&title=0&portrait=0&badge=0" class="video-area" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            Or include soundcloud?
            <div class="wow zoomIn col-xs-12">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/138464532&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
            -->
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
            <img style="margin-top: 10px" class="img-responsive img-thumbnail" src="{{ 'assets/blog-images/' | append: post.img.url | absolute_url }}" title="{{ post.img.desc }}" />

            <!-- <div class="blog-date">
                <p><span>{{ post.date | date: "%-d" }}</span> {{ post.date | date: "%b %Y" }}</p>
            </div> -->
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
            <h1 style="margin-bottom: 10px">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                <p>{{ post.date | date: "%-d" }} {{ post.date | date: "%b %Y" }}</p>
            </h1>

            <div class="contents">
                {{ post.content | split:'<!--more-->' | first }}
            </div>

            <div class="cat-links" style="display: inline; font-size: 16px;">
                <a href="/blog/cats/#{{ post.categories }}">{{ post.categories }}</a>
            </div>
            {% include blog/tag-list.html tags=post.tags prefix=false %}


            <a href="{{ post.url | relative_url }}" class="open-post-button">
                <button class="btn">read more</button>
            </a>
        </div>
    </div>
</div>

<hr>
