<div class="blog-sidebar sidebar">
    <div class="sidebar-heading">
        last updates
        {% include components/icon-rss.html style="float: right" %}
    </div>

    {% assign updatedPosts = '' | split: '' %}
    {% for post in site.posts %}
        {% if post.updates %}
            {% assign updatedPosts = updatedPosts | push: post %}
        {% endif %}
    {% endfor %}

    {% assign posts = updatedPosts | sort:"last_modified_at" | reverse | slice: 0, 6 %}
    {% for post in posts %}
        <div class="media">
            <div class="media-left">
                <a href="{{ post.url | relative_url }}">
                    <img class="media-object img-thumbnail" src="{{ 'assets/blog-images/' | append: post.img.url | absolute_url }}" title="{{ post.img.desc }}">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading" style="padding-top: 0">
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
                {% assign lastUpdate = post.updates | first %}
                <p>
                    Last update on {{ lastUpdate.date | date: "%b %-d, %Y" }}
                    <br>{{ lastUpdate.desc }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
