<div class="blog-sidebar sidebar">
    <div class="sidebar-heading">
        {% if include.toc.icon contains "icon-" %}
            <i class="{{ include.toc.icon }}"></i>
        {% else %}
            <i class="fa fa-{{ include.toc.icon | default: 'file-text' }}"></i>
        {% endif %}

        {{ include.toc.title }}
        {% include components/edit-post.html %}
    </div>

    <div style="line-height: 16px; margin-top: 6px">{{ page.desc }}</div>

    <div style="margin-top: 5px; margin-bottom: 8px">
        <img class="img-responsive" src="{{ 'assets/' | append: page.img | absolute_url }}" title="{{ page.imgdesc }}" />
    </div>
</div>
