<div class="blog-sidebar sidebar">
    <div class="sidebar-heading">
        {% if include.toc.icon contains "icon-" %}
            <i class="{{ include.toc.icon }}"></i>
        {% else %}
            <i class="fa fa-{{ include.toc.icon | default: 'file-text' }}"></i>
        {% endif %}

        {{ include.toc.title }}
        {% include components/edit-post.html %}
    </div>


    {% assign blogExcerpt = post.content | split:'<!--more-->' | first | strip_html | strip %}
    {% assign blogDesc = page.desc | strip_html | strip %}
    {% if blogDesc != blogExcerpt %}
        <div style="line-height: 16px; margin-top: 6px">{{ page.desc }}</div>
    {% endif %}


    <div style="margin-top: 5px; margin-bottom: 8px">
        <img class="img-responsive" src="{{ 'assets/blog-images/' | append: page.img | absolute_url }}" title="{{ page.imgdesc }}" />
    </div>


    <!-- contains '```autohotkey' didn't work -->
    {% if post.content contains 'autohotkey' and post.title != 'Autohotkey DynaRun' %}
        <small style="display: block; line-height: 16px; margin: 6px 0">
            This post contains Autohotkey scripts, test them from within your browser with the
            <a href="{{ 'blog/productivity/autohotkey-dyna-run' | absolute_url }}">Autohotkey DynaRun script</a>.
        </smlall>
    {% endif %}
</div>
