{% assign posts = site.posts | sort:"date" | reverse | slice: 0, 3 %}
{% for post in posts %}
    <div class="wow zoomIn col-xs-12 col-md-4">
        <img class="img-responsive" src="{{ 'assets/blog-images/' | append: post.img.url | absolute_url }}" style="border: 1px solid rgb(215, 215, 215)" title="{{ post.img.desc }}" />
        <div class="blog-date-wrapper">
            <span class="floatleft"><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="clearboth"> &nbsp; </span>
        </div>
        <div class="blog-container">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            <p class="blog-description">{{ post.desc }}</p>
            <a class="custom-button" href="{{ post.url | relative_url }}">read more <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
{% endfor %}
