---
layout: default
permalink: /jobs/
---
<div class="main">
    {% include header.html %}
    {% include blog/big-header.html title="Jobs" subTitle="Technical skills are, as much as communication skills, the founding building blocks for any succesful project" %}

    <section id="jobs" class="jobs">
        <div class="container">
            <div class="row">
                <div class="col-md-7 job-content">
                    <h1>Software Developer</h1>
                    <small>+2 years experience</small>

                    Itenium is currently looking for a passionate and talented
                    <ul>
                        <li>Front end developer (Angular, React, Wpf, ...)</li>
                        <li>Back end developer (.NET, Java, NodeJS, ...)</li>
                        <li>Full stack developer</li>
                    </ul>

                    <h2 class="job-title">Do you</h2>
                    <ul>
                        <li>have the drive to keep on learning?</li>
                        <li>like to be a part of a young, dynamic group of people who share the same values?</li>
                        <li>feel responsible for what you deliver?</li>
                        <li>choose quality over quantity?</li>
                        <li>have the dedication to bring quality and professionalism to our customers?</li>
                        <li>want to be assisted by the best technical people (20+ yrs exp.) to boost your development and career?</li>
                        <li>want to learn the latest technologies to keep your passion sparked?</li>
                        <li>speak Dutch with a profound knowledge of English?</li>
                    </ul>

                    <h2 class="job-title">Got experience</h2>
                    <ul>
                        <li>with C# or Java?</li>
                        <li>with building RESTful API's (Web API or Node)?</li>
                        <li>with Javascript, Typescript, ASP.NET MVC or Wpf?</li>
                        <li>with Html5 and CSS3?</li>
                        <li>with agile methodologies like Scrum?</li>
                        <li>with unit and integration testing?</li>
                    </ul>

                    <h2 class="job-title">Are you proficient with</h2>
                    <ul>
                        <li>Design Patterns?</li>
                        <li>Entity Framework or Hibernate?</li>
                        <li>Angular, React or Vue.js?</li>
                        <li>Sql Server, Oracle or other databases?</li>
                        <li>Lambdas, LINQ?</li>
                        <li>Visual Studio, Eclipse or vim?</li>
                    </ul>


                    <h2 class="job-title">Are you</h2>
                    <ul>
                        <li>not afraid to ask questions or can we convince you not to be?</li>
                        <li>capable of working independently?</li>
                        <li>communicative and a teamplayer?</li>
                    </ul>


                    <h2 class="job-title">Our offer</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Competitive salary</li>
                                <li>Company car with fuel card</li>
                                <li>High-end laptop</li>
                                <li>Mobile phone</li>
                                <li>Extra monthly net expenses compensation</li>
                                <li>32 holidays (12 ADV)</li>
                                <li>Hospital insurance</li>
                                <li>Group insurance</li>
                                <li>Meal vouchers</li>
                                <li>Eco cheques</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Personal coaching by our competence center</li>
                                <li>Career plans and accompanying trainings</li>
                                <li>Fun teambuilding activities</li>
                            </ul>
                        </div>
                    </div>

                    <h2 class="job-title">Interested?</h2>
                    <div style="font-size: 17px; margin-left: 21px;">
                        <div><i class="flaticon-email21 small-flaticon"></i><a href="mailto:{{ site.email.jobs }}"> {{ site.email.jobs }}</a></div>
                        <div><i class="flaticon-phone16 small-flaticon"></i><a href="tel:{{ site.tel | replace: ' ', '' }}"> {{ site.tel }}</a></div>
                    </div>
                </div>

                <div class="col-md-5" style="margin-top: -25px">
                    <div class="jobs-sidebar">
                        <i class="fa fa-building-o fa-2x"></i>
                        <div class="sidebar-content">
                            We aim to be a young, dynamic company with a drive to keep learning and having fun in the process.
                        </div>
                    </div>

                    <div class="jobs-sidebar">
                        <i class="fa fa-superpowers fa-2x"></i>
                        <div class="sidebar-heading">
                            Developers
                        </div>
                        <div class="sidebar-content">
                            People are the core of our business.
                            <br>
                            Investing in them is only natural.
                        </div>
                    </div>


                    <div class="jobs-sidebar">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                        <div class="sidebar-heading">
                            Continuous improvement
                        </div>
                        <div class="sidebar-subheading">
                            Our mission is to facilitate your learning trajectory.
                        </div>

                        <div class="sidebar-content">
                            <dd>You desire training?</dd> <dt>You get training.</dt>
                            <br>
                            <dd>You'd like Pluralsight access?</dd> <dt>Access, you get.</dt>
                            <br>
                            <dd>You want a book?</dd> <dt>The book is yours.</dt>
                        </div>
                    </div>


                    <div class="jobs-sidebar">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa fa-sitemap fa-stack-1x"></i>
                          <i class="fa fa-ban fa-stack-2x"></i>
                        </span>
                        <div class="sidebar-heading">
                            Culture
                        </div>
                        <div class="sidebar-subheading">
                            What makes us special?
                        </div>
                        <div class="sidebar-content">
                            A cozy group of open-minded IT enthusiasts having fun together.
                            We achieve this with technical sessions, bootcamps &amp; team events.
                            <br>
                            Only through self-criticism and iteration can we improve ourselves.
                            <br>
                            A profound professionalism and dedication towards our customers.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
