---
layout: default
permalink: /jobs/
---
<div class="main">
    {% include header.html %}

    <section class="jobs-header" style="padding: 35px 0 15px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="job-title">jobs @ itenium</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% assign job = site.data.jobs.jobs | where: "id", "senior-dotnet" | first %}
                    {% include job-link.html job=job %}
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% assign job = site.data.jobs.jobs | where: "id", "senior-java" | first %}
                    {% include job-link.html job=job %}
                </div>
            
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% assign job = site.data.jobs.jobs | where: "id", "senior-fullstack" | first %}
                    {% include job-link.html job=job %}
                </div>
            </div>
        </div>
    </section>

    <div class="container jobs-header jobs-body" style="margin-top: 0px;">
        <div class="row jobs-row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                {% assign job = site.data.jobs.jobs | where: "id", "functional-analyst" | first %}
                {% include job-link.html job=job %}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                {% assign job = site.data.jobs.jobs | where: "id", "automation-test-engineer" | first %}
                {% include job-link.html job=job %}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                {% assign job = site.data.jobs.jobs | where: "id", "sourcer-&-recruitment-specialist" | first %}
                {% include job-link.html job=job %}
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="/jobs/business-developer-account-manager">
                    <div class="job-post">
                        <h2>Business Developer &nbsp; Account Manager</h2>
                        <span>3+ years experience.</span>
                        <div><small>Regio vlaanderen / Brussel</small></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
