---
layout: default
permalink: /blog/tags/
---
<div class="main">
    {% include header.html context="blog" %}
    {% for tag in site.tags %}
        {% assign tagName = tag | first %}
        <a name="{{ tagName }}">
            {% include blog/big-header.html title=tagName %}
        </a>
        <section class="blog-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        {% for posts in tag %}
                            {% for post in posts %}
                                {% if post.url %}
                                    {% include blog/entry-excerpt.html post=post %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
</div>
