---
layout: default
permalink: /terms-and-conditions/nl
---
<style>
    .terms-conditions h2 {
        margin-top: 25px;
        margin-bottom: 10px;
    }
</style>



<div class="main">
    {% include header.html %}

    {% include blog/big-header.html title="Algemene Voorwaarden" subTitle="" %}

    <div class="container terms-conditions">

<h2>1. DEFINITIES</h2>

<ol>
    <li>Onder “itenium” wordt in deze algemene voorwaarden verstaan: “itenium BVBA”, met maatschappelijke zetel te 1840
    Londerzeel, Linde 11 en met ondernemingsnummer BE0687800967 ingeschreven in het rechtspersonenregister te Brussel.</li>
    <li>Onder “klant” wordt in deze algemene voorwaarden verstaan: persoon die, in verband met het leveren van diensten door
    een contract verbonden wordt met itenium.</li>
    <li>Onder “partijen” worden in deze algemene voorwaarden verstaan: itenium en de klant.</li>
</ol>




<h2>2. TOEPASSELIJKHEID</h2>

<ol>
    <li>Deze algemene voorwaarden gelden op alle aanbiedingen, offertes, bestellingen van en overeenkomsten met itenium
    ongeacht strijdige bepalingen vermeld op documenten van de klant. Door het ondertekenen “voor akkoord” van de
    orderbevestiging, bestelbon of bevestiging per e-mail van de tarieven, bevestigt de klant kennisname en aanvaarding van
    de algemene voorwaarden van itenium. In geval van betaling van een voorschot bevestigt eveneens de klant impliciet
    kennis te hebben genomen en akkoord te gaan met onze algemene voorwaarden.</li>
    <li>In geval van interpretatieproblemen hebben onze Nederlandstalige algemene voorwaarden voorrang op onze algemene
    voorwaarden in andere talen.</li>
    <li>De eventuele nietigheid van een bepaald deel van de overeenkomst en/of van deze algemene voorwaarden laat de
    geldigheid van het overige deel van de overeenkomst en/of van deze algemene voorwaarden onverlet. In plaats van het
    nietige deel geldt dan als overeengekomen wat op wettelijk toelaatbare wijze het dichtst komt bij wat partijen
    overeengekomen zouden zijn, indien zij de nietigheid gekend zouden hebben.</li>
</ol>



<h2>3. AANBIEDINGEN, OFFERTES EN ORDERBEVESTIGING</h2>

<ol>
    <li>Alle aanbiedingen en offertes van itenium zijn vrijblijvend tot op het ogenblik van de aanvaarding door de klant.
    Offertes blijven geldig tot dertig (30) kalenderdagen na offertedatum tenzij anders vermeld.</li>
    <li>Indien niet anders aangegeven zijn gemaakte offertes geldig gedurende 30 dagen. Itenium is slechts aan de offertes
    gebonden indien de aanvaarding hiervan door de klant schriftelijk binnen de offerte termijn wordt bevestigd. Bij
    mondelinge aanvaarding van de opdrachtgever is het aan itenium of aan de aanvaarding gehoor wordt gegeven.</li>
    <li>Indien itenium met de klant een vast honorarium of uurtarief overeenkomt, is itenium niettemin gerechtigd tot
    verhoging van dit honorarium of tarief. Itenium mag prijsstijgingen doorberekenen, indien itenium kan aantonen dat zich
    tussen het moment van offerte en de uitvoering van het project significante prijswijzigingen hebben voorgedaan ten
    aanzien van bijv. lonen.</li>
    <li>Bepaalde prijzen en/of de totaalprijs van offertes kunnen onderhevig zijn aan prijswijzigingen of veranderingen in
    prijsmodellen van toeleveranciers (van bijvoorbeeld diensten, grondstoffen, licenties, ..). Indien deze situatie zich
    voordoet is itenium gemachtigd om af te wijken van de offerte en deze prijsstijgingen door te rekenen aan de klant.</li>
    <li>Bepaalde prijzen en/of de totaalprijs van offertes kunnen onderhevig zijn aan de mate van het verbruik(bijvoorbeeld
    in resources, volumes, aantallen, eenheden, Hard Disk space, CPU kracht, RAM geheugen, aantal requests die worden
    verstuurd, aantal connecties, ..). Desgevallend is itenium gemachtigd om af te wijken van de offerte en eventuele
    prijsstijgingen door te rekenen aan de klant.</li>
    <li>Aanbiedingen en offertes gelden niet automatisch voor enige toekomstige opdracht.</li>
    <li>De annulatie van een bestelling door de klant is mogelijk zolang
    itenium haar werkzaamheden nog niet heeft aangevat en mits
    betaling van een schadevergoeding van 30% van de overeengekomen
    prijs, met een minimum van 125 EUR.</li>
</ol>




<h2>4 BETALINGSMODALITEITEN</h2>

<ol>
    <li>De facturen van itenium zijn steeds betaalbaar binnen de 30 dagen na factuurdatum, tenzij er op de factuur een
    andere betalingstermijn is voorzien, zonder disconto of korting.</li>
    <li>Bij ontstentenis van betaling binnen de overeengekomen termijn, zullen vanaf de vervaldag op het onbetaald bedrag
    van de betrokken factuur van rechtswege en zonder voorafgaande ingebrekestelling nalatigheidsinteresten verschuldigd
    zijn gelijk aan de rente bepaald in de Wet van 2 augustus 2002 (gewijzigd bij Wet van 22 november 2013) betreffende de
    bestrijding van de betalingsachterstand bij handelstransacties.</li>
    <li>Eveneens is de klant bij niet-betaling van de factuur op de vervaldag, van rechtswege en zonder voorafgaande
    ingebrekestelling, ten titel van schadebeding een forfaitaire schadevergoeding verschuldigd van 10% van het op de
    vervaldag onbetaalde factuurbedrag, met een minimum van 150 EUR, onverminderd het recht van itenium een hogere
    schadevergoeding te vorderen mits bewijs van grotere werkelijk geleden schade.</li>
    <li>Itenium behoudt zich het recht voor om de verdere uitvoering van haar verbintenissen op te schorten totdat de klant
    de vervallen facturen heeft betaald. Elke vertraging in de betaling door de klant maakt alle verschuldigde sommen ineens
    opeisbaar. Tevens vervallen alle toegestane kortingen bij het niet respecteren van deze algemene verkoopsvoorwaarden.</li>
    <li>Ingeval de contractuele relatie beëindigd is, kan itenium schuldvergelijking toepassen tussen alle wederzijdse
    vaststaande vorderingen met de klant, ongeacht het tijdstip waarop de betrokken schuldvorderingen opeisbaar zijn,
    conform de bepalingen van artikel 14 van de Wet Financiële Zekerheden van 15 december 2004.</li>
</ol>




<h2>5 KLACHTEN</h2>

<ol>
    <li>Eventuele klachten moeten, onder nauwkeurige opgave van de feiten waarop deze klachten betrekking hebben,
    schriftelijk en binnen 14 kalenderdagen nadat de dienst door itenium gepresteerd is, worden ingediend bij itenium.</li>
    <li>Indien de voorwaarden vermeld in artikel 3.1 niet volledig worden nageleefd wordt de klant geacht het gepresteerde
    onherroepelijk en onvoorwaardelijk te hebben aanvaard.</li>
    <li>Itenium is slechts verplicht kennis te nemen van ingediende klachten, indien de klant aan al zijn contractuele
    verplichtingen tegenover itenium, uit welke hoofde dan ook, heeft voldaan. De klant zal zijn verplichtingen niet
    opschorten of verrekenen in verband met een door hem ingediende klacht.</li>
    <li>Indien de klachten van de klant, mede gelet op het hierboven bepaalde, gegrond zijn, zal itenium na overleg met de
    klant zorg dragen voor het binnen redelijke termijn opnieuw verrichten van een dienst van dezelfde soort dan wel het
    toepassen van een redelijke prijsreductie. Gehele of gedeeltelijke ontbinding van de overeenkomst door de klant is
    slechts mogelijk met medewerking van itenium.</li>
    <li>Indien de klachten van de klant, mede gelet op het hierboven bepaalde, gegrond zijn, maar het binnen redelijke
    termijn opnieuw verrichten van een dienst niet mogelijk is, zal itenium slechts de (aan)betaling voor de te verrichten
    dienst, voor zover daarvan in het onderhavige geval sprake is, aan de klant terugbetalen. De overeenkomst tussen
    partijen zal dan (geheel of gedeeltelijk, voor zover betrekking hebbende op de terugbetaalde bestelling) zijn ontbonden.
    Behoudens opzet of grove nalatigheid is itenium niet aansprakelijk voor welke schade of welke verplichting dan ook, die
    voor de klant en/of derden mocht ontstaan als gevolg van het feit dat herverrichten van een dienst niet mogelijk is.</li>
</ol>




<h2>6. TARIEVEN</h2>

<ol>
    <li>De diensten zullen verstrekt worden tegen de in het contract vastgestelde prijzen. Alle prijzen worden uitgedrukt in
    euro en zijn exclusief BTW. Elke toegekende korting is éénmalig en schept geen rechten naar de toekomst. Tenzij anders
    bepaald in het contract, zullen alle overeengekomen prijzen jaarlijks worden aangepast om de stijgende werkingskosten te
    dekken. Deze verhoging mag op jaarbasis niet meer bedragen dan de aanpassing aan de index van de consumptieprijzen + 1%.</li>
</ol>




<h2>7. AANSPRAKELIJKHEID</h2>

<ol>
    <li>Itenium verbindt zich ertoe alle te verstrekken diensten met zorg uit te voeren. Alle prestaties van itenium zijn
    middelenverbintenissen. Itenium is niet aansprakelijk voor fouten in de uitvoering te wijten aan onvoldoende of
    verkeerde input door de klant.</li>
    <li>Itenium kan niet aansprakelijk worden gesteld voor enige fout (zelfs een grove fout) van haar of haar aangestelden,
    behoudens ingeval van bedrog. Itenium zal, wat ook de oorzaak, de vorm of het voorwerp is van de vordering waarbij de
    aansprakelijkheid wordt ingeroepen, in geen geval aansprakelijk kunnen worden gesteld voor enige gevolgschade zoals
    bijvoorbeeld verlies van verwachte winst, daling van omzet, verhoogde operationele kosten, verlies van cliënteel, welke
    de klant of derden zouden lijden ten gevolge van enige fout of nalatigheid van itenium of een aangestelde/uitvoerder.</li>
    <li>De aansprakelijkheid van itenium met betrekking tot aan de klant geleverde diensten is in elk geval beperkt tot
    ofwel de terugbetaling van de door de klant betaalde prijs, ofwel het opnieuw uitvoeren van de diensten, naar keuze van
    itenium. De totale aansprakelijkheid van itenium, zal nooit meer bedragen dan de prijs die door de klant aan itenium
    werd betaald voor de diensten die aanleiding gaven tot het schadegeval.</li>
    <li>Indien en voor zover een goede uitvoering van de overeenkomst dit vereist, heeft itenium het recht bepaalde
    werkzaamheden te laten verrichten door derden.</li>
    <li>Wat de diensten afkomstig van derde leveranciers betreft, aanvaardt itenium geen enkele aansprakelijkheid boven of
    anders dan de aansprakelijkheid die de derde leveranciers bereid zijn te aanvaarden voor hun diensten.</li>
    <li>De klant erkent onderling e-mail als wettelijk, geldig bewijsmiddel.</li>
</ol>



<h2>8. OVERMACHT</h2>

<ol>
    <li>Overmacht situaties zoals bijvoorbeeld stakingen, publieke onrust, administratieve maatregelen en andere
    onverwachte gebeurtenissen zoals de onbeschikbaarheid van de cloud oplossing waarover itenium geen controle heeft,
    bevrijden itenium, voor de duur van de hinder en voor hun draagwijdte, van haar verbintenissen, zonder recht op enige
    prijsvermindering of schadevergoeding voor de klant.</li>
    <li>Wanneer in bovenstaande situatie geconcludeerd wordt dat het niet meer mogelijk is de verbintenissen redelijkerwijs
    na te komen, zal de overeenkomst in onderling overleg herzien of ontbonden worden. Eventuele reeds geleverde prestaties
    door itenium tot aan het moment van overmacht zullen alsnog gefactureerd worden.</li>
</ol>




<h2>9. WIJZIGING</h2>

<ol>
    <li>Itenium behoudt zich het recht voor om onderhavige algemene voorwaarden te allen tijde te wijzigen.</li>
</ol>


<h2>10. RECHTSBEVOEGDHEID</h2>

<ol>
    <li>In geval van geschil omtrent de interpretatie en/of uitvoering van de overeenkomst met de klant, zijn alleen de
    Rechtbanken van het Arrondissement Brussel bevoegd om recht te spreken krachtens de Belgische Wetgeving en
    handelsgebruiken.</li>
</ol>


<br><br>

    </div>
</div>
