---
layout: default
permalink: /terms-and-conditions/nl
---
<style>
    .terms-conditions h2 {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .terms-conditions ul { padding-left: 25px; list-style: disc }

    .terms-conditions ol ol { padding-left: 25px }
    .terms-conditions ol { counter-reset: item !important }
    .terms-conditions ol > li { display: block !important }
    .terms-conditions ol > li:before { content: counters(item, ".") ". " !important; counter-increment: item !important }
</style>



<div class="main">
    {% include header.html %}

    {% include blog/big-header.html title="Algemene Voorwaarden" subTitle="" %}

    <div class="container terms-conditions">



<h2>1. DEFINITIES</h2>

<ol>
    <li>“itenium”: “itenium BV”, met maatschappelijke zetel te {{ site.address.maatschappelijk }} en kantoren te {{ site.address.office }},
        en met ondernemingsnummer {{ site.btw }} ingeschreven in het rechtspersonenregister te Brussel,
        met e-mail: {{ site.email.general }} en website: {{ site.url }}</li>
    <li>“Klant”: de natuurlijke of rechtspersoon die, in verband met het leveren van diensten door een contract verbonden wordt met itenium.</li>
    <li>“Partij(en)”: itenium en/of de Klant.</li>
    <li>“Overeenkomst”: het contract dat tussen de Partijen tot stand komt door ondertekening van de Werkopdracht, met inbegrip van deze algemene voorwaarden.</li>
    <li>“Dienst”: de prestatie die itenium levert onder de Overeenkomst en die wordt bepaald en beschreven in een Werkopdracht. Een Dienst kan bestaan uit
         o.a. de levering van apparatuur, de levering van software(licenties), de levering van onderhoud, support, consultancy en training.</li>
    <li>“Werkopdracht”: het document (bv. offerte) dat de omschrijving van de door itenium te leveren Diensten bevat.</li>
</ol>




<h2>2. TOEPASSELIJKHEID</h2>

<ol>
    <li>Deze algemene voorwaarden gelden voor alle documenten (onder meer aanbiedingen, offertes, Werkopdrachten, bestellingen, contracten, mailverkeer,
        berichten) die uitgaan van itenium. </li>
    <li>De Overeenkomst heeft voorrang op eventuele algemene, bijzondere, aankoop-, betalings-en/of enige andere voorwaarden van de Klant. Verwijzingen
        naar zulke voorwaarden die in een annex, factuur of enig ander document dat uitgaat van de Klant zouden voorkomen worden voor niet geschreven beschouwd. </li>
    <li>In geval van interpretatieproblemen hebben de Nederlandstalige algemene voorwaarden van itenium voorrang op de algemene voorwaarden in andere talen.</li>
    <li>De eventuele nietigheid van een bepaald deel van de Overeenkomst laat de geldigheid van het overige deel van de Overeenkomst onverlet. De Partijen
        verbinden zich in dat geval ertoe de Overeenkomst te goeder trouw te heronderhandelen, om de (volledig of gedeeltelijk) nietig, ongeldig of onuitvoerbaar
        verklaarde bepaling aan te passen of te vervangen door een bepaling die zo dicht mogelijk aanleunt bij de bedoeling van de ongeldig, nietig of onuitvoerbaar
        verklaarde bepaling.</li>
    <li>Wanneer er tegenstrijdigheden of onduidelijkheden zouden zijn tussen de bepalingen in deze algemene voorwaarden en de Werkopdracht, hebben de bepalingen
        vermeld in de Werkopdracht voorrang op deze van de algemene voorwaarden. De overige bepalingen van de algemene voorwaarden blijven, in hun geheel en elk
        afzonderlijk, onverminderd van toepassing op de Werkopdracht.</li>
</ol>



<h2>3. AANBIEDINGEN, OFFERTES EN ORDERBEVESTIGING</h2>

<ol>
    <li>Alle aanbiedingen en offertes van itenium zijn vrijblijvend tot op het ogenblik van de aanvaarding door de Klant. Offertes blijven geldig tot dertig (30)
        kalenderdagen na offertedatum tenzij anders vermeld.</li>
    <li>Indien niet anders aangegeven zijn gemaakte offertes geldig gedurende 30 dagen. Itenium is slechts aan de offertes gebonden indien de aanvaarding
        hiervan door de Klant schriftelijk binnen de in de offerte vermelde termijn wordt bevestigd. Bij mondelinge aanvaarding van de Klant is het aan itenium
        of aan de aanvaarding gehoor wordt gegeven.</li>
    <li>Indien itenium met de Klant een vaste prijs of uurtarief overeenkomt, is itenium niettemin gerechtigd tot verhoging van dit honorarium of tarief
        overeenkomstig artikel 7 van deze algemene voorwaarden. </li>
    <li>Bepaalde prijzen en/of de totaalprijs van offertes kunnen onderhevig zijn aan prijswijzigingen of veranderingen in prijsmodellen van toeleveranciers
        (van bijvoorbeeld diensten, grondstoffen, licenties, ..). Indien deze situatie zich voordoet, erkent de Klant dat dit een geldige reden is om prijzen
        aan te passen en is itenium gemachtigd om af te wijken van de offerte en deze prijsstijgingen door te rekenen aan de Klant.</li>
    <li>Bepaalde prijzen en/of de totaalprijs van offertes kunnen onderhevig zijn aan de mate van het verbruik (bijvoorbeeld in resources, volumes,
        aantallen, eenheden, Hard Disk space, CPU kracht, RAM geheugen, aantal requests die worden verstuurd, aantal connecties, …). Indien dit gebruik het in de
        offerte voorziene gebruik overschrijdt, zal itenium de Klant hiervan op de hoogte brengen en eventuele kosten in verband met het overschrijden van dit
        gebruik doorrekenen aan de Klant.</li>
    <li>Aanbiedingen en offertes gelden niet voor enige toekomstige Werkopdracht.</li>
    <li>De annulatie van een bestelling door de Klant is mogelijk zolang itenium haar werkzaamheden nog niet heeft aangevat en mits betaling van een schadevergoeding
        van 30% van de overeengekomen prijs, met een minimum van 125 EUR.</li>
</ol>




<h2>4. DUUR EN BEËINDIGING</h2>

<ol>
    <li>De duur van de Overeenkomst loopt, mits aan alle voorwaarden vereist om de Werkopdracht aan te vangen (zoals betaling voorschot en beschikbaarstelling
        noodzakelijke informatie) is voldaan,  vanaf de dag van de ondertekening van de Werkopdracht tot en met het beëindigen van de laatst aflopende Werkopdracht(en).</li>
    <li>Beide Partijen kunnen de Overeenkomst en/of de Werkopdracht(en) te allen tijde met onmiddellijke ingang zonder voorafgaande ingebrekestelling
        en zonder rechterlijke tussenkomst geheel of gedeeltelijk ontbinden door middel van een aangetekend schrijven aan de andere Partij indien bij de Klant,
        itenium of een onderaannemer van itenium de situatie voordoet van insolventie, staking van betaling of verwikkeling van de andere Partij in een
        faillissementsprocedure.</li>
    <li>Beide Partijen kunnen deze Overeenkomst en/of een werkopdracht te allen tijde met onmiddellijke ingang beëindigen in het geval dat de andere Partij
        deze algemene voorwaarden of de Werkopdracht schendt en een dergelijke schending niet kan worden verholpen, of de andere Partij heeft nagelaten om de
        schending te verhelpen binnen vijftien (15) werkdagen na ontvangst van een schriftelijke kennisgeving per aangetekende schrijven.</li>
    <li>itenium kan de Overeenkomst en/of Werkopdracht(en) te allen tijde en onmiddellijk beëindigen zonder opzeg en zonder enige vergoeding verschuldigd te zijn
        wanneer de Klant of één van zijn medewerkers zich, in de uitvoering van deze Overeenkomst en de bijhorende Werkopdracht(en) of in elke andere hoedanigheid:

        <ul>
            <li>schuldig maakt aan bedrog of een zware professionele fout of door zijn toedoen zodanig in opspraak komt of aan professionele geloofwaardigheid verliest,
                dat het in hem gestelde vertrouwen naar derden toe zodanig is aangetast dat verdere samenwerking de goede reputatie van itenium op ontoelaatbare wijze
                zou kunnen schaden;
            </li>
            <li>of wanneer de Klant op ernstige wijze in gebreke blijft de bepalingen van deze Overeenkomst en de bijhorende Werkopdracht(en) na te leven.
                Volgende redenen worden als ernstige contractbreuk beschouwd en wettigen een onmiddellijke beëindiging van onderhavige Overeenkomst en de
                Werkopdracht(en), ten laste van de Klant, zonder enige verplichting tot schadevergoeding in hoofde van itenium:

                <ul>
                    <li>het benaderen van medewerkers van itenium (en/of diens aangestelde, werknemer of onderaannemer), op gelijk welke wijze, met het oog
                        op het afsluiten van een contract met deze, zonder voorafgaande schriftelijke goedkeuring van itenium of buiten elke tussenkomst van itenium;</li>
                    <li>het uitvoeren van betalingen naar een medewerker van itenium (en/of diens aangestelde, werknemer of onderaannemer), buiten het medeweten van
                        itenium of zonder voorafgaandelijke schriftelijke goedkeuring van itenium.</li>
                </ul>
            </li>
        </ul>
        De onmiddellijke beëindiging van de Overeenkomst en/of Werkopdracht(en) door itenium ingevolge één van hierboven aangehaalde ernstige contractbreuken
        in hoofde van de Klant, laat het recht van itenium om de geleden schade te verhalen onverlet.
    </li>
</ol>




<h2>5. BETALINGSMODALITEITEN</h2>

<ol>
    <li>De facturen van itenium zijn steeds betaalbaar binnen de 30 dagen na factuurdatum,  tenzij er op de factuur een andere betalingstermijn is voorzien,
        zonder disconto of korting.</li>
    <li>Behoudens anders overeengekomen, zal de facturatie maandelijks gebeuren.</li>
    <li>Bij niet of onvolledige betaling van de facturen op de vervaldag zal de Klant automatisch, van rechtswege en zonder ingebrekestelling, een verwijlinterest
        verschuldigd zijn van 1% per maand op het openstaande bedrag. Alle kosten voor aanmaning en juridische invordering zijn ten laste van de Klant.</li>
    <li>Eveneens is de Klant bij niet-betaling van de factuur op de vervaldag, van rechtswege en zonder voorafgaande ingebrekestelling, ten titel van schadebeding
        een forfaitaire schadevergoeding verschuldigd van 10% van het op de vervaldag onbetaalde factuurbedrag, met een minimum van 150 EUR, onverminderd het recht
        van itenium een hogere schadevergoeding te vorderen mits bewijs van grotere werkelijk geleden schade.</li>
    <li>Itenium behoudt zich het recht voor om de verdere uitvoering van haar verbintenissen op te schorten totdat de Klant de vervallen facturen heeft betaald.
        Elke vertraging in de betaling door de Klant maakt alle verschuldigde sommen ineens opeisbaar. Tevens vervallen alle toegestane kortingen bij het niet
        respecteren van deze algemene voorwaarden.</li>
    <li>Ingeval de contractuele relatie beëindigd is, kan itenium schuldvergelijking toepassen tussen alle wederzijdse vaststaande vorderingen met de Klant,
        ongeacht het tijdstip waarop de betrokken schuldvorderingen opeisbaar zijn.</li>
</ol>




<h2>6. KLACHTEN EN GARANTIE</h2>

<ol>
    <li>itenium levert de Diensten in overeenstemming met de in de Werkopdracht beschreven specificaties.</li>
    <li>Eventuele klachten moeten, onder nauwkeurige opgave van de feiten waarop deze klachten betrekking hebben, schriftelijk en binnen 14 kalenderdagen
        nadat de Dienst door itenium gepresteerd is, worden ingediend bij itenium. Na het verstrijken van deze termijn zal de Klant het gepresteerde onherroepelijk
        en onvoorwaardelijk te hebben aanvaard.</li>
    <li>Itenium is slechts verplicht kennis te nemen van ingediende klachten, indien de Klant aan al zijn contractuele verplichtingen tegenover itenium, uit welke
        hoofde dan ook, heeft voldaan. De Klant zal zijn verplichtingen niet opschorten of verrekenen in verband met een door hem ingediende klacht.</li>
    <li>Indien de klachten van de Klant, mede gelet op het hierboven bepaalde, gegrond zijn, zal itenium na overleg met de Klant zorg dragen voor het binnen
        redelijke termijn opnieuw verrichten van een prestatie van dezelfde soort dan wel het toepassen van een redelijke prijsreductie. </li>
    <li>Indien de klachten van de Klant, mede gelet op het hierboven bepaalde, gegrond zijn, maar het binnen redelijke termijn opnieuw verrichten van de Dienst
        niet mogelijk is, zal itenium slechts de (aan)betaling voor de reeds verrichten Diensten, voor zover daarvan in het onderhavige geval sprake is, aan de Klant
        terugbetalen. De Overeenkomst tussen Partijen zal dan (geheel of gedeeltelijk, voor zover betrekking hebbende op de terugbetaalde bestelling) zijn ontbonden.
        Behoudens opzet of grove nalatigheid is itenium niet aansprakelijk voor welke schade of welke verplichting dan ook, die voor de Klant en/of derden mocht
        ontstaan als gevolg van het feit dat herverrichten van een Dienst niet mogelijk is.</li>
</ol>




<h2>7. TARIEVEN</h2>

<ol>
    <li>De Diensten zullen verstrekt worden tegen de in de Overeenkomst vastgestelde prijzen. Alle prijzen worden uitgedrukt in euro en zijn exclusief BTW.
        Elke toegekende korting is éénmalig en schept geen rechten naar de toekomst. </li>
    <li>Voor Overeenkomsten die de duur van één jaar overschrijden, heeft itenium het recht ieder jaar, met ingang van 1 januari volgend op het jaar waarin
        de Overeenkomst tot stand kwam, de tarieven te indexeren. De prijsherziening wordt uitgevoerd volgens de volgende formule: P = P0 x [(0,80 x i/I) + 0,20],
        waarbij:

        <ul>
            <li>P = Herziene prijs; </li>
            <li>P0 = De in deze Overeenkomst opgenomen prijs; </li>
            <li>I = de in het Paritair Comité 200 overeengekomen loonindex die van toepassing is in de maand december voorafgaand aan de ingangsdatum van de Overeenkomst; </li>
            <li>i = de in het Paritair Comité 200 overeengekomen loonindex die van toepassing is in de maand december voorafgaand aan de verjaardag van de Overeenkomst.</li>
        </ul>
        Deze prijsherziening wordt doorgerekend in de facturatie van het eerste kwartaal.
    </li>
    <li>De uitvoering van werken die vallen buiten het voorwerp van de Werkopdracht worden vergoed volgens de uurtarieven zoals vermeld in de Werkopdracht of
        wanneer niet opgenomen in de Werkopdracht door de dan gehanteerde uurtarieven door itenium.</li>
</ol>



<h2>8. MEDEWERKING</h2>

<ol>
    <li>De Klant zal itenium kosteloos alle redelijke medewerking verlenen bij het uitvoeren van de Diensten. Dit betekent onder meer dat de Klant aangepaste
        kantooromgevingen (conform toepasselijke wetgeving), technische omgevingen en alle vereiste informatie, ter beschikking stelt tezamen met voldoende
        gekwalificeerde medewerkers, naargelang itenium dit redelijkerwijze nuttig acht voor de verlening van de Diensten.</li>
    <li>De Klant duidt binnen zijn organisatie een persoon aan die: (a) gemachtigd is om bindende beslissingen te nemen voor de Klant met betrekking tot de
        Overeenkomst, inclusief eventuele wijzigingen in de Diensten; en (b) itenium tijdig te voorzien van volledige en accurate informatie betreffende de
        Klant en diens bedrijf welke redelijkerwijs door itenium kan worden verlangd voor de uitvoering van de Diensten. Itenium is er geenszins toe gehouden
        de beslissingen en goedkeuringen van de aangestelde persoon te evalueren, te wijzigen, te bevestigen, te verwerpen of daarover te adviseren, tenzij
        uitdrukkelijk anders overeengekomen.</li>
    <li>Behouden anders overeengekomen zal de in de Werkopdracht aangeduide contactpersoon (SPOC) optreden als de persoon bedoeld onder bovenstaand artikel.</li>
    <li>Alle communicatie, in het bijzonder formele kennisgevingen onder de Overeenkomst, gebeuren ten aanzien van de in de Werkopdracht vermelde contactpersoon
        van elke Partij.</li>
    <li>De Klant erkent e-mail als wettelijk, geldig bewijsmiddel.</li>
    <li>De Klant garandeert dat wanneer informatie aan itenium ter beschikking wordt gesteld, dat dit gebeurt door middel van een drager die voldoet aan de
        specificaties gangbaar conform de op dat moment geldende stand der techniek en in elk geval vrij van virussen of andere kwaadaardige software is.</li>
    <li>Indien de medewerking van, of toegang door itenium tot, het eigen personeel van de Klant noodzakelijk is voor de uitvoering van de Diensten, stemt
        de Klant ermee in dat dit personeel beschikbaar zal zijn op de door Partijen overeengekomen tijdstippen. Voorts zal de Klant, indien dit personeel
        deelneemt aan de levering, ervoor zorgdragen dat zij beschikken over de juiste vaardigheden en ervaring voor de aan hen opgedragen taken.</li>
    <li>De Klant stemt er voorts mee in om: (a) over alle licenties, goedkeuringen of documenten die op grond van de Overeenkomst vereist zijn, te beschikken
        dan wel deze onverwijld uit te voeren en (b) onverwijld alle noodzakelijke licenties en toestemmingen te verkrijgen voor het gebruik van software,
        gegevens en enig ander materiaal dat zij aan itenium ter beschikking stelt voor de uitvoering van de Diensten.</li>
    <li>Wanneer de Klant kennis krijgt van omstandigheden die een mogelijks effect kunnen hebben op itenium's verplichtingen, in het bijzonder wat betreft de
        tijdige levering van de Diensten, stelt de Klant itenium hiervan onmiddellijk schriftelijk in kennis.</li>
</ol>




<h2>9. DIENSTVERLENING</h2>

<ol>
    <li>Itenium verbindt zich ertoe de Diensten met zorg en overeenkomstig de afspraken opgenomen in de Werkopdracht(en) uit te voeren.</li>
    <li>itenium is gerechtigd om voor het leveren van de Diensten beroep te doen op onderaannemers. </li>
    <li>Alle prestaties van itenium zijn middelenverbintenissen. Itenium is niet aansprakelijk voor fouten in de (tijdige) uitvoering te wijten aan laattijdige,
        onvoldoende of verkeerde input door de Klant (of derden die namens de Klant input dienen te leveren).</li>
    <li>Leveringstermijnen zijn door itenium naar beste vermogen bepaald op basis van de informatie waarover zij beschikt, en dienen, tenzij uitdrukkelijk
        anders overeengekomen, als indicatieve leveringstermijnen te worden beschouwd. Itenium zal zich inspannen om de leveringstermijnen na te leven.</li>
    <li>De Klant realiseert zich echter dat itenium voor de uitvoering van de Overeenkomst afhankelijk is van (de goede werking van) producten en/of diensten
        van derden en/of de medewerking van de Klant. itenium verwacht in het licht van de partnerschipgedachte dat de Klant haar eigen verantwoordelijkheid neemt
        voor de nakoming van haar verplichtingen. Dit houdt onder meer in dat de Klant verantwoordelijk is voor: (a) haar eigen technische netwerkinfrastructuur
        alsook de beveiliging daarvan, welke infrastructuur zal blijven voldoen aan de eisen die itenium stelt en/of bijstelt; (b) het tijdig verlenen van alle
        medewerking die noodzakelijk is voor de uitvoering van de Overeenkomst en verplichtingen door itenium; (c) de juiste en tijdige uitvoering en levering van
        diensten en/of producten waarvoor de Klant onder zijn uitsluitende verantwoordelijkheid een beroep heeft gedaan op derde dienstverleners.</li>
</ol>


<h2>10. AANSPRAKELIJKHEID</h2>

<ol>
    <li>Itenium kan niet aansprakelijk worden gesteld voor enige fout van haar of haar aangestelden, behoudens ingeval van bedrog of zware fout.</li>
    <li>Itenium zal, wat ook de oorzaak, de vorm of het voorwerp is van de vordering waarbij de aansprakelijkheid wordt ingeroepen, in geen geval aansprakelijk
        kunnen worden gesteld voor enige gevolgschade zoals bijvoorbeeld verlies van verwachte winst, daling van omzet, verhoogde operationele kosten, verlies van
        cliënteel, welke de Klant of derden zouden lijden ten gevolge van enige fout of nalatigheid van itenium of een aangestelde/uitvoerder.</li>
    <li>De aansprakelijkheid van itenium met betrekking tot aan de Klant geleverde Diensten is in elk geval beperkt tot ofwel de terugbetaling van de door de Klant
        betaalde prijs, ofwel het opnieuw uitvoeren van de Diensten, naar keuze van itenium. De totale aansprakelijkheid van itenium, is beperkt tot de prijs die door
        de Klant aan itenium werd betaald voor de Diensten die aanleiding gaven tot het schadegeval, en kan in geen geval meer bedragen dan 25 000 euro</li>
</ol>


<h2>11. PERSONEEL</h2>

<ol>
    <li>De Klant zal zich onthouden van iedere handeling die onverenigbaar is met de totale afwezigheid van een arbeidsrelatie tussen de Klant en enige
        medewerker van itenium en/of een onderaannemer. </li>
    <li>Onder “medewerker van itenium” wordt begrepen elke persoon waarop itenium beroep doet om de Diensten onder de Overeenkomst bij de Klant te leveren,
        ongeacht het statuut (bv. werknemer, zelfstandige) op basis waarvan zij tewerkgesteld zijn. </li>
    <li>In geen geval zal de Klant instructies kunnen geven aan de medewerkers van itenium wat betreft het tewerkstellings- of loonbeleid, noch instructies
        inzake het nemen en toekennen van vakantie of andere rusttijden. </li>
</ol>

<h2>12. OVERMACHT</h2>

<ol>
    <li>Geen van beide Partijen is aansprakelijk jegens de andere Partij voor enige vertraging of niet-nakoming van haar verplichtingen uit hoofde van deze
        Overeenkomst of een Werkopdracht, voor zover een dergelijke vertraging of niet-nakoming het gevolg is van een overmachtsgebeurtenis buiten haar redelijke
        controle die redelijkerwijs niet gepland of vermeden kon worden, zoals, maar niet beperkt tot, bevelen of beperkingen van de overheid, oorlog, oorlogsdreiging,
        revolutie, publieke onrust, stakingen, oproer, epidemieën, brand, overstroming, onbeschikbaarheid van de cloud oplossing of een andere natuurramp van dien aard.
        Overmachtsituaties bevrijden een Partij, voor de duur van de hinder en voor hun draagwijdte, van haar verbintenissen, zonder recht op enige prijsvermindering of
        schadevergoeding.</li>
    <li>De Partij die geconfronteerd wordt met een situatie van overmacht zal alle redelijke voorzorgsmaatregelen nemen en alle redelijke alternatieve maatregelen
        nemen en alle redelijke maatregelen treffen in overeenstemming met de goede praktijken in de sector om de gevolgen van een geval van overmacht te vermijden
        of te beperken. Elke Partij die door een geval van overmacht wordt getroffen, stelt de andere Partij onverwijld schriftelijk in kennis van de gebeurtenis en
        de oorzaak en waarschijnlijke duur van de daaruit voortvloeiende vertraging of niet-nakoming van haar verplichtingen uit hoofde van de Overeenkomst.</li>
    <li>Wanneer in bovenstaande situatie geconcludeerd wordt dat het niet meer mogelijk is de verbintenissen redelijkerwijs na te komen, zal de Overeenkomst in
        onderling overleg herzien of ontbonden worden. Eventuele reeds geleverde prestaties door itenium tot aan het moment van overmacht zullen alsnog
        gefactureerd worden.</li>
</ol>


<h2>13. VERTROUWELIJKHEID</h2>

<ol>
    <li>De Overeenkomst en alle informatie, schriftelijk, mondeling dan wel elektronisch, die tussen Partijen in het kader van de Overeenkomst werd en wordt
        uitgewisseld, is confidentieel. De Partijen verbinden zich ertoe de krachtens deze Overeenkomst uitgewisselde informatie in vertrouwen te houden en ze
        niet bekend te maken aan derden.</li>
    <li>De Partijen zullen zich eveneens onthouden van het openbaar maken van elkaars werkwijzen.</li>
    <li>De verplichtingen inzake vertrouwelijkheid bepaald in dit artikel zijn niet van toepassing op informatie die: (i) publiek bekend is geworden anders
        dan door een inbreuk door een Partij op haar verbintenissen onder de Overeenkomst; (ii) aan de andere Partij werd meegedeeld als niet-vertrouwelijk
        door een derde en waarvan deze Partij van oordeel is dat het, bij gebrek aan een verplichting ten gunste van de andere Partij, niet ongeoorloofd is
         om de informatie te openbaren; (iii) ontwikkeld werd door de een Partij onafhankelijk van de andere Partij, of die de een Partij reeds kende voor
         deze informatie hem werd meegedeeld door een Partij; en/of (iv) wordt bekendgemaakt met de schriftelijke toestemming van de andere Partij.</li>
    <li>De verplichtingen inzake vertrouwelijkheid zijn evenmin van toepassing voor zover een Partij de vertrouwelijke informatie moet meedelen op bevel
        van een bevoegde rechtbank en/of administratieve of overheidsinstelling of op basis van een wet of regelgeving, of enige andere administratieve of
        juridische procedure. In dit geval zal deze Partij, indien redelijkerwijze mogelijk, de andere Partij hierover informeren en raadplegen voor wat
        betreft de voorwaarden, inhoud en timing van een dergelijke mededeling.</li>
    <li>Niettegenstaande het voorgaande mag een Partij die vertrouwelijke informatie van de andere Partij ontvangt deze meedelen aan zijn werknemers,
        consultants en leveranciers die direct betrokken zijn bij en/of op de hoogte moeten te zijn van dergelijke informatie voor de uitvoering van de
        Overeenkomst. Elke Partij maakt zich sterk dat zijn werknemers, consultants en leveranciers waar vereist op de hoogte zijn van de vertrouwelijke
        aard van de informatie.</li>
    <li>De Klant is niet gerechtigd enig afschrift of kopie van de vertrouwelijke informatie onder welke vorm ook, te nemen of te behouden na de beëindiging
        van de onderhavige Overeenkomst. Alle mogelijke titels die rechtstreeks of onrechtstreeks verbonden zijn met de vertrouwelijke informatie behoren
        itenium toe en blijven de uitsluitende eigendom van itenium.</li>
    <li>Daarenboven zal elke Partij, zowel gedurende de onderhavige Overeenkomst als voor een periode van 5 jaar na de beëindiging ervan, om welke reden ook,
        geen vertrouwelijke informatie bekend maken aan derden en/of er gebruik van maken voor haar eigen rekening of zaak.</li>
    <li>Als uitzondering op deze bepaling is het itenium toegestaan om, indien gewenst, te verwijzen naar de uitgevoerde prestaties voor referentiedoeleinden.</li>
</ol>


<h2>14. INTELLECTUELE EIGENDOM</h2>

<ol>
    <li>Alle achtergrondkennis en alle intellectuele eigendomsrechten op de achtergrondkennis zijn en blijven het exclusieve eigendom van de Partij die
        deze achtergrondkennis of intellectuele eigendomsrechten op de ingangsdatum bezit of controleert.</li>
    <li>Tenzij uitdrukkelijk anderszins overeengekomen, verwerft itenium alle intellectuele eigendomsrechten op alle werken (waaronder functionele en technische
        analyses, handleidingen, beschrijvingen, software, databases en alle andere resultaten die in het kader of als eindresultaat van de levering van een Dienst
        worden gecreëerd en die beschermd zijn of kunnen worden onder een intellectueel eigendomsrecht, waaronder maar niet beperkt tot het auteursrecht, naburige
        rechten, sui generis databank recht, octrooirecht etc.) die in de uitvoering van de Overeenkomst tot stand komen.</li>
</ol>


<h2>15. PERSOONSGEGEVENS</h2>

<ol>
    <li>Itenium verwerkt uw persoonsgegevens conform haar privacy beleid: https://itenium.be/privacy-statement/nl</li>
    <li>In de mate dat itenium in het kader van de Overeenkomst optreedt als verwerker geldt het volgende.</li>
    <li>Als verwerkingsverantwoordelijke garandeert de Klant dat hij de persoonsgegevens  rechtmatig verwerkt en rechtsgeldig kan meedelen aan itenium.
        Zo is de Klant zelf verantwoordelijk voor het verstrekken aan de betrokkenen van de door de toepasselijke wetgeving vereiste informatie. De Klant
        vrijwaart itenium voor alle aanspraken van betrokkenen tegen itenium die hun oorzaak vinden in de schending door de Klant van de toepasselijke
        wetgeving in verband met de bescherming van persoonsgegevens.</li>
    <li>Als verwerker van de Klant zal itenium de persoonsgegevens verwerken in opdracht en voor rekening van de Klant in het kader van de uitvoering van
        deze Overeenkomst en conform met de bijzondere voorwaarden en volgens de schriftelijke instructies van Klant. itenium mag de persoonsgegevens niet
        voor eigen behoefte, ten behoeve van derden, en/of voor andere doeleinden verwerken, tenzij door deze Overeenkomst voorzien of door Partijen
        overeengekomen.</li>
    <li>itenium is ertoe gehouden om gepaste technische en organisatorische veiligheidsmaatregelen te implementeren om de persoonsgegevens  te beschermen
        tegen toevallige of ongeoorloofde vernietiging, tegen toevallig verlies evenals tegen de wijziging van of de toegang tot, en iedere andere niet toegelaten
        verwerking van die persoonsgegevens . Bij het bepalen van de passende technische en organisatorische beveiligingsmaatregelen, houdt itenium rekening met
        (i) de stand van de techniek, (ii) de uitvoeringskosten van deze maatregelen, (ii) de aard, de omvang, de context, en de verwerkingsdoeleinden, (iv) de
         verwerkingsrisico’s voor de rechten en vrijheden van de betrokkenen, voornamelijk als gevolg van vernietiging, verlies, wijziging, ongeoorloofde verstrekking
         van, of niet-geautoriseerde toegang tot doorgezonden, opgeslagen of anderszins verwerkte persoonsgegevens , hetzij per ongeluk, hetzij op onrechtmatige wijze,
         en (v) de waarschijnlijkheid dat de verwerking een impact heeft op de rechten en vrijheden van de betrokkenen.</li>
    <li>itenium zal, op verzoek van de Klant alle nodige informatie betreffende de verwerking van persoonsgegevens  door hem aan de Klant verstrekken en zal
        alle verzoeken van betrokkenen die hij ontvangt aan de Klant overmaken.</li>
    <li>De Klant geeft itenium hierbij de de algemene toestemming om beroep te doen op subverwerkers, wiens identiteit itenium zal melden aan de Klant.
        Indien itenium als verwerker toegang verschaft tot de persoonsgegevens aan subverwerkers, garandeert zij dat elke subverwerker contractueel onderworpen
        wordt aan minstens dezelfde verplichtingen als deze waartoe itenium is gehouden ten aanzien van de Klant.</li>
    <li>itenium zal als verwerker geen persoonsgegevens buiten de Europese Economische Ruimte (EER) doorgeven, zonder adequate bescherming of tenzij deze
        doorgifte noodzakelijk is op grond van een rechtsregel die bindend is onder EU of Belgisch recht. In zulk geval stelt itenium de Klant voorafgaandelijk
        en schriftelijk in kennis van het wettelijk voorschrift op grond waarvan itenium verplicht is over te gaan tot doorgifte van de persoonsgegevens,
        tenzij de betrokken wetgeving deze kennisgeving om gewichtige redenen van algemeen belang verbiedt.</li>
    <li>itenium kan toegang geven tot de persoonsgegevens aan haar werknemers of onderaannemers, maar dient de toegang strikt te beperken tot enkel die werknemers
        die toegang moeten hebben tot de persoonsgegevens om itenium toe te laten zijn verplichtingen onder de Overeenkomst uit te voeren. itenium zal de betrokken
        werknemers schriftelijk op de hoogte brengen van het vertrouwelijke karakter van de persoonsgegevens , en van het wettelijke en contractuele kader inzake de
        bescherming van persoonsgegevens, en zal de betrokken werknemers contractueel een vertrouwelijkheidsverplichting opleggen.</li>
    <li>itenium zal de Klant indien mogelijk, rekening houdend met de aard van de verwerking en de hem ter beschikking staande informatie, tegen betaling aan de
        hand van de dan geldende tarieven bijstaan bij de naleving van de verplichtingen van de Klant onder de Algemene Verordening Gegevensbescherming inzake
        beveiliging van de verwerking, melding van een inbreuk in verband met persoonsgegevens aan de toezichthoudende overheid en aan de betrokkene, het opstellen
        van een gegevensbeschermingseffectbeoordeling (indien van toepassing), en voorafgaande raadpleging. </li>
    <li>De Klant heeft een recht op audit om de naleving door itenium van diens verplichtingen onder de Overeenkomst na te gaan. De Klant kan zulke audit maximaal
        éénmaal per jaar uitvoeren. De Klant kan de audit zelf doen of door een door hem gemachtigde controleur laten uitvoeren. De Klant dient itenium minstens
        30 werkdagen van tevoren schriftelijk inlichten over de werkdag waarop de audit zou plaatsvinden. </li>
    <li>Indien itenium naar aanleiding van een audit een instructie krijgt van de Klant in verband met de verwerking van persoonsgegevens  en meent dat deze
        instructie een inbreuk oplevert op de AVG of andere Unierechtelijke of lidstaatrechtelijke bepalingen inzake gegevensbescherming, stelt itenium de Klant
        hiervan onmiddellijk in kennis.</li>
    <li>In geval van opzegging of einde, om welke reden ook, van de Overeenkomst, zal itenium als verwerker naar schriftelijke keuze en verzoek van de
        verwerkingsverantwoordelijke alle persoonsgegevens  binnen de dertig (30) te verwijderen van al haar systemen of anonimiseren.</li>
    <li>De Klant aanvaardt uitdrukkelijk dat itenium de persoonsgegevens na anonimisering mag aanwenden om de Diensten te onderhouden en verder te ontwikkelen/verbeteren.</li>
</ol>


<h2>16. AFWERVING VAN PERSONEEL</h2>

<ol>
    <li>De Klant zal zich zowel tijdens de looptijd van de Overeenkomst als gedurende een periode van twaalf (12) maanden volgend op de beëindiging van de Overeenkomst
        op om het even welke wijze onthouden van, ofwel voor eigen rekening of in samenwerking met of voor rekening van een andere persoon, werkgever, professionele
        onderneming of andere organisatie, rechtstreeks of onrechtstreeks:

        <ol>
            <li>het overhalen, adviseren, of aanzetten van enig personeelslid of een dienstenverstrekker(of zijn personeelslid) van itenium om zijn arbeidsrelatie of
                samenwerkingsrelatie te beëindigen voor zover het gaat om personeelsleden en dienstenverstrekkers (of zijn personeelsleden) die aanwezig zijn bij de
                klant op het moment van de beëindiging of in een periode van twaalf (12) maanden voorafgaand aan de beëindiging,</li>
            <li>het in dienst nemen of anderzijds gebruik maken van diensten van een personeelslid of een dienstenverstrekker(of zijn personeelslid) voor zover het
                gaat om personeelsleden en dienstenverstrekkers(of zijn personeelsleden) die aanwezig zijn bij de klant op het moment van de beëindiging of in een
                periode van twaalf (12) maanden voorafgaand aan de beëindiging.</li>
        </ol>
    </li>
    <li>In geval van inbreuk op artikel 9.1, heeft itenium recht op een forfaitaire schadevergoeding van € 50.000 per inbreuk, onder voorbehoud van alle
        andere verhaalrechten van itenium, met inbegrip van het recht tot het vorderen van meerschade.</li>
</ol>



<h2>17.	WIJZIGING</h2>

<ol>
    <li>Itenium behoudt zich het recht voor om onderhavige algemene voorwaarden te allen tijde te wijzigen. </li>
    <li>Na schriftelijke kennisgeving van de aangepaste algemene voorwaarden door itenium aan de Klant, zullen deze meteen van toepassing zijn. </li>
    <li>Indien de Klant de aanpassingen van de algemene voorwaarden niet aanvaard, kan de Klant binnen zeven (7) dagen na ontvangst van de aangepaste algemene
        voorwaarden de Overeenkomst zonder schadevergoeding opzeggen, tenzij de aanpassingen worden aangebracht om te voldoen aan een wettelijke verplichting of
        indien itenium de wijziging kan rechtvaardigen met een andere geldige reden.</li>
</ol>



<h2>18.	BEVOEGDE RECHTBANKEN EN TOEPASSELIJK RECHT</h2>

<ol>
    <li>In geval van geschil omtrent de interpretatie en/of uitvoering van de Overeenkomst met de Klant zijn alleen de Rechtbanken te Mechelen bevoegd.</li>
    <li>De tussen de Klant en itenium gesloten Overeenkomst(en) waarop deze algemene voorwaarden van toepassing zijn, alsook alle overeenkomsten die daaruit voortvloeien,
        worden uitsluitend beheerst door het Belgisch recht.</li>
</ol>


<br><br>

    </div>
</div>
