---
layout: default
permalink: /library
---

<div class="main">
    {% include header.html %}

    {% include blog/big-header.html title="itenium Library" subTitle="" %}

    <div class="container">
        {% assign categories = site.data.library.categories %}
        {% for category in categories %}
            <div style="margin-bottom: 24px">
                <h1>{{ category.desc }}</h1>

                {% assign books = site.data.library.books | where: "cat", category.key | sort:"title" %}
                {% for book in books %}
                    <p>
                        <a href="{{ book.amazon }}">{{ book.title }}</a>
                        <small>by {{ book.author }} ({{ book.year }})</small>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
