---
layout: default
permalink: /jobs/hr-officer-office-manager
---

{% assign job = site.data.jobs.jobs | where: "id", "hr-officer-office-manager" | first %}
{% assign meta = site.data.jobs %}

<div class="main">
    {% include header.html %}
    {% include blog/big-header.html title="Jobs" subTitle="Technical skills are, as much as communication skills, the founding building blocks for any succesful project" %}

    <section id="jobs" class="jobs">
        <div class="container">
            <div class="row">



<div class="job-content col-md-7">
    <h1>HR officer / Office Manager - Vlaanderen/Brussel</h1>

    <h2 class="job-title" style="margin-top: 25px">About Us</h2>
    Itenium is dynamically growing through the years, and we are in the process of adding more support to
    our employees and to the company.

    <br><br>We are a high-tech company with IT-consultants who are very passionate about their job and willing to
    keep improving their personal and professional skillset. We believe there is only one direction which is:
    <b style="font-weight: bolder">FORWARD</b>.

    <br><br><p>As we expand our departments, we want to add someone who can be the driving force behind our
    people and office! If you plan to start your new year with a bang, let's talk!</p>


    <h2 class="job-title" style="margin-top: 25px">Rockstar HR officer/ office manager needed</h2>
    You will be the first point of contact for our employees if they have any questions (on employee
    benefits, payroll, their career path,…) and yes, sometimes even frustrations. We need someone who
    doesn't just listen to them, but someone who hears them and makes them feel that they have a
    voice. A great communicator and listener who knows how to break the ice.

    <br><br>
    You will be involved in our recruitment activities and will take care of the full onboarding of new
    colleagues to make them feel welcome as of day 1 and to set them up for success in their new role.

    <ul style="padding-top: 16px">
        <li>Are you also a facilitator? Part of the job is also you being responsible for making sure that we
        have enough office stock to accommodate our day-to-day business needs. Someone who also
        has a knack for finding the best restaurants that can cater to our stomachs during our events.</li>
        <li>You will also be doing some organizing of our events, from the venue down to the food and the
        funny jokes</li>
        <li>Do you know people? You're someone who knows their way around town. From rental office
        spaces, best venues for our parties and best service providers for our needs.</li>
    </ul>

    <br>And last but not the least, you have to be someone who is passionate about managing and
    structuring the office. You make it the point where you run everything as if it's also your own, so
    you don't miss any detail, big or small. The need to always make it work runs in your blood.


    <h3 style="margin-top: 15px; font-weight: bold">We're looking for someone who</h3>
    <ul>
        {% for skill in job.skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <h2 class="job-title">It's a plus to</h2>
    <ul>
        {% for plus in job.plus %}
            <li>{{ plus }}</li>
        {% endfor %}
    </ul>

    <h2 class="job-title">Our Offer</h2>
    <ul>
        {% for offer in job.ourOffer %}
            <li>{{ offer }}</li>
        {% endfor %}
    </ul>

    <h2 class="job-title">Interested?</h2>
    <div style="font-size: 17px; margin-left: 21px;">
        <div><i class="flaticon-email21 small-flaticon"></i><a href="mailto:{{ site.email.jobs }}"> {{ site.email.jobs }}</a></div>
        <div><i class="flaticon-phone16 small-flaticon"></i><a href="tel:{{ site.tel | replace: ' ', '' }}"> {{ site.tel }}</a></div>
    </div>
</div>



<div class="col-md-5" style="margin-top: -25px">
    <div class="jobs-sidebar">
        <i class="fa fa-building-o fa-2x"></i>
        <div class="sidebar-content">
            We aim to be a young, dynamic company with a drive to keep learning and having fun in the process.
        </div>
    </div>

    <div class="jobs-sidebar">
        <i class="fa fa-superpowers fa-2x"></i>
        <div class="sidebar-heading">
            People
        </div>
        <div class="sidebar-content">
            People are the core of our business.
            <br>
            Investing in them is only natural.
        </div>
    </div>


    <div class="jobs-sidebar">
        <span class="fa-stack fa-lg">
            <i class="fa fa fa-sitemap fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x"></i>
        </span>
        <div class="sidebar-heading">
            Culture
        </div>
        <div class="sidebar-subheading">
            What makes us special?
        </div>
        <div class="sidebar-content">
            A cozy group of open-minded IT enthusiasts having fun together.
            We achieve this with technical sessions, bootcamps &amp; team events.
            <br>
            Only through self-criticism and iteration can we improve ourselves.
            <br>
            A profound professionalism and dedication towards our customers.
        </div>
    </div>
</div>

            </div>
        </div>
    </section>
</div>
