<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% include layout/meta.html %}

    {% include layout/header-common.html %}

    {% include layout/header-freelance.html %}
</head>
<body>

  <div class="loader"></div>

  <div class="main">
      {% include header.html %}
      {% assign title = page.title | default: "Our Vacancies" %}
      {% assign subTitle = page.subTitle | default: "Technical skills are, as much as communication skills, the founding building blocks for any succesful project" %}
      {% include blog/big-header.html title=title subTitle=subTitle %}

      {% unless page.onListing %}
          <button class="btn return-to-all-jobs">
            <a href="/vacancies">
                <i class="fa fa-angle-double-left"></i>
                all projects
            </a>
          </button>
      {% endunless %}

      <section class="blog-sidebar">
          <div class="container">
              <div class="row">
                  <div class="col-md-7 blog-content jobs-listing">
                      {{ content }}
                  </div>
                  <div class="wow zoomIn col-md-5">
                      {% include freelance/freelance-search.html %}
                  </div>
                  {% if page.id %}
                      <div class="wow zoomIn col-md-5">
                          {% include freelance/freelance-share.html %}
                      </div>
                  {% endif %}
                  <div class="wow zoomIn col-md-5">
                      {% include freelance/recruiters.html %}
                  </div>
                  <div class="wow zoomIn col-md-6">
                      {% include freelance/why-itenium.html %}
                  </div>
                  <div class="wow zoomIn col-md-6">
                      {% include freelance/testimonial.html %}
                  </div>
              </div>
          </div>
      </section>
  </div>

  {% include footer.html onIndex=layout.onIndex %}
</body>
</html>
