---
layout: default
onIndex: true
---

<div class="main" id="home">
    <!-- slider -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                {% include main/splash-screen-1.html %}
                {% include main/splash-screen-2.html %}
                {% include main/splash-screen-3.html %}
            </ul>
        </div>
    </div>
    <!-- slider -->
    {% include header.html %}

    <!-- WHO WE ARE -->
    {% include main/who-we-are.html %}

    {% include main/technologies.html %}


    <!-- OUR SERVICES -->
    {% include main/our-services.html %}

    <!-- our partner -->
    <!-- include main/our-partners.html -->

    <!-- CLEAN IDEA AND UNIQUE DESIGN -->
    <!-- include main/clean-idea.html -->
    <div class="more-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="pull-left">We're hiring. Check out our vacancies for more information.</h2>
                    <button type="button" id="load" class="btn btn-success pull-right" onclick="javascript:location.href='/jobs'">See jobs</button>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR LATEST WORKS -->
    <!--include intro/our-latest-works.html-->

    <!-- OUR TEAM -->
    {% include main/our-team.html %}

    <!-- COUNTING -->
     <!--include intro/counting.html -->


    <!-- TESTIMONIAL-->
     <!--include intro/testimonials.html -->


    <!-- BLOG CONTENT -->
    {% include main/blog-content.html %}

    <!-- GET IN TOUCH -->
    {% include main/get-in-touch.html withCompany=true %}

</div><!-- /.main -->
