---
layout: default
---

<div class="loader"></div>
<div class="main" id="home">
    <!-- slider -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>  <!-- SLIDE  -->
                {% include intro/splash-screen-1.html %}
                {% include intro/splash-screen-2.html %}
                {% include intro/splash-screen-3.html %}
            </ul>
        </div>
    </div>
    <!-- slider -->
    {% include intro/header.html %}

    <!-- WHO WE ARE -->
    {% include intro/who-we-are.html %}

    <!-- OUR SERVICES -->
    {% include intro/our-services.html %}

    <!-- CLEAN IDEA AND UNIQUE DESIGN -->
    {% include intro/clean-idea.html %}

    <!-- OUR LATEST WORKS -->
    {% include intro/our-latest-works.html %}

    <div class="more-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="pull-left">Want To Work With Us Then Feel Free To Contact Us</h2>
                    <button type="button" id="load" class="btn btn-success pull-right">load More</button>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- /.more-area -->

    <!-- OUR TEAM -->
    {% include intro/our-team.html %}

    <!-- COUNTING -->
    {% include intro/counting.html %}


    <!-- TESTIMONIAL-->
    {% include intro/testimonials.html %}


    <!-- BLOG CONTENT -->
    {% include intro/blog-content.html %}

    <!-- our partner -->
    {% include intro/our-partners.html %}

    <!-- GET IN TOUCH -->
    {% include intro/get-in-touch.html %}


    <!-- MMENU -->
    <nav id="menu">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#about">about us</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#product">product</a></li>
            <li><a href="#team">team</a></li>
            <li><a href="#blog">blog</a>
                <ul>
                    <li><a href="blog-full-width.html">full width blog</a></li>
                    <li><a href="blog-sidebar.html">sidebar blog</a></li>
                </ul>
            </li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav><!-- /#menu -->

</div><!-- /.main -->
