<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>TechGut</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- Revolution css -->
  <link rel="stylesheet" type="text/css" href="vendor/rs-plugin/css/settings.css" media="screen"/>
  <link rel="stylesheet" href="vendor/rs-plugin/css/extralayer.css">
  
  <!-- Flat icon css -->
  <link rel="stylesheet" href="vendor/flat-icon/flaticon.css">
  
  <!-- Font awesome -->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  
  <!-- Owl Carosel css -->
  <link rel="stylesheet" href="vendor/owl/css/owl.carousel.css">
  <link rel="stylesheet" href="vendor/owl/css/owl.theme.default.css">
  <link rel="stylesheet" href="vendor/owl/css/owl.theme.css">
  
  <!-- mmenu -->
  <link type="text/css" rel="stylesheet" href="vendor/mmenu/css/jquery.mmenu.css" />
  
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

  <!-- Animate css -->
  <link rel="stylesheet" href="css/animate.css">

  <!-- Custom Style css -->
  <link rel="stylesheet" href="css/hover.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')
</script>
<![endif]-->
</head>
<body>
  <div class="loader"></div>
  <div class="main" id="home">
    <!-- slider -->
      <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>  <!-- SLIDE  -->
          <li data-transition="fade" data-slotamount="25" data-masterspeed="2500"  data-thumb="img/slider/slider_img_01.jpg"  data-saveperformance="off">
            <!-- MAIN IMAGE -->
            <img src="img/slider/slider_img_01.jpg"  alt="fullslide2" data-bgposition="center center" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center center">
            <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme head-tag"
            data-x="637"
            data-y="200" 
            data-speed="1500"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#fff;"><h1>OUR THINKING</h1>
          </div>
          <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme head-tag"
          data-x="1090"
          data-y="200" 
          data-speed="1500"
          data-start="5480"
          data-easing="Power3.easeInOut"
          data-splitin="chars"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-endspeed="300"
          style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#f9844c;"><h1>IS</h1>
        </div>

        <!-- LAYERS -->
        <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme"
        data-x="637"
        data-y="282" 
        data-speed="1500"
        data-start="5500"
        data-easing="Power3.easeInOut"
        data-splitin="chars"
        data-splitout="none"
        data-elementdelay="0.1"
        data-endelementdelay="0.1"
        data-endspeed="300"
        style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#f9844c;"><h1>EXTREAMLY</h1>
      </div>
      <div class="tp-caption very_large_text lfb ltt skewfromrightshort fadeout tp-resizeme"
      data-x="1024"
      data-y="282" 
      data-speed="1500"
      data-start="6500"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 5; max-width: auto; max-height: auto; font-size:63px;white-space: nowrap;color:#fff;"><h1>NICE</h1>
    </div>



    <div class="tp-caption lft randomrotate customout"
    data-x="left"
    data-y="center" data-voffset="110"
    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
    data-speed="800"
    data-start="2000"
    data-easing="Back.easeOut"
    data-endspeed="500"
    data-endeasing="Power4.easeIn"
    data-captionhidden="on"
    style="z-index: 9"><img src="img/slider/mobile.png" alt="" data-ww="550" data-hh="490">
  </div>

  <div class="tp-caption lfl randomrotate tp-resizeme"
  data-x="60" 
  data-y="bottom" data-voffset="-70" 
  data-speed="800"
  data-start="3000"
  data-easing="Back.easeOut"
  data-endspeed="500"
  data-endeasing="Power4.easeIn"
  data-captionhidden="on"
  style="z-index: 9"><img src="img/slider/html.png" alt="" data-ww="125" data-hh="160">
</div>

<div class="tp-caption randomrotate tp-resizeme"
data-x="210"  
data-y="bottom" data-voffset="-70" 
data-speed="800"
data-start="4000"
data-easing="Back.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="on"
style="z-index: 9"><img src="img/slider/css.png" alt="" data-ww="125" data-hh="160">
</div>
<div class="tp-caption sfr randomrotate tp-resizeme"
data-x="360"
data-y="bottom" data-voffset="-70" 
data-speed="800"
data-start="5000"
data-easing="Back.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="on"
style="z-index: 9"><img src="img/slider/js.png" alt="" data-ww="125" data-hh="160">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption lfl tp-resizeme"
data-x="637"
data-y="365" 
data-speed="1000"
data-start="8000"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2 class="small-title second-title">neat and clean code</h2>
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption  lfl tp-resizeme"
data-x="637"
data-y="420"
data-speed="1000"
data-start="8600"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2  class="small-title second-title">use custome offcanvas </h2>
</div>
<!-- LAYER NR. 4 -->
<div class="tp-caption  lfl tp-resizeme"
data-x="637" 
data-y="475"
data-speed="1000"
data-start="9400"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2 class="small-title second-title"> Perfect, HTML5, CSS3 & JS</h2>
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption lfr tp-resizeme start-button"
data-x="637"
data-y="540" 
data-speed="1000"
data-start="10500"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<button type="button" class="btn btn-primary" style="background-color: #e84700;border:1px solid #e95e1d;">buy now</button>
</div>
</li>

<li class="items" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500" data-thumb="img/slider/slider_img_02.jpg" data-delay="13000"  data-saveperformance="on">
  <!-- MAIN IMAGE -->
  <img src="img/slider/slider_img_02.jpg"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
  <!-- LAYERS -->


  <!-- LAYER NR. 1 -->
  <div class="tp-caption very_large_text lfb ltt tp-resizeme head-tag"
  data-x="left" data-hoffset="20"
  data-y="center" data-voffset="-100" 
  data-speed="600"
  data-start="500"
  data-easing="Power3.easeInOut"
  data-splitin="chars"
  data-splitout="chars"
  data-elementdelay="0.08"
  style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
  <h1><span>TECHGUT</span> IS YOUR MIND</h1>
</div>

<!-- LAYER NR. 2 -->
<div class=" tp-caption  lfl tp-resizeme"
data-x="-100"
data-y="340"
data-speed="500"
data-start="1500"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2 class="small-title">Easy to Customize</h2>
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption  lfl tp-resizeme"
data-x="-100"
data-y="400"
data-speed="1000"
data-start="2000"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2  class="small-title">Multiple Blog pages</h2>
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption  lfl tp-resizeme"
data-x="-100"
data-y="460"
data-speed="2000"
data-start="2500"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<h2 class="small-title" > have Parallax section</h2>
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption lfr tp-resizeme"
data-x="right" data-hoffset="100"
data-y="bottom" data-voffset="-90" 
data-speed="3000"
data-start="4000"
data-easing="Power3.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.05"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
<button type="button" class="btn btn-default buy-btn">buy now</button>
</div>
</li>
<li class="items" data-transition="slidevertical" data-slotamount="1" data-masterspeed="1500" data-thumb="img/slider/slider_img_03.jpg" data-delay="13000"  data-saveperformance="off">
  <!-- MAIN IMAGE -->
  <img src="img/slider/slider_img_03.jpg"  alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
  <!-- LAYERS -->

  <!-- LAYER NR. 1 -->
  <div class="tp-caption very_large_text lfb ltt tp-resizeme head-tag"
  data-x="center" data-hoffset="0"
  data-y="center" data-voffset="-160"
  data-speed="1200"
  data-start="1700"
  data-easing="Power3.easeOut"
  data-splitin="none"
  data-splitout="none"
  data-elementdelay="0.05"
  data-endelementdelay="0.1"
  data-endspeed="500"
  data-endeasing="Power4.easeIn"
  style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
  <h1><span>we create </span> amazing layout </h1>
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption  lfl tp-resizeme small-text"
data-x="center" data-hoffset="0"
data-y="center" data-voffset="-60"
data-speed="1500"
data-start="2000"
data-easing="Power1.easeInOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.1"
data-endelementdelay="0.1"
data-endspeed="300"
style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a adipiscinglib,</p>
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption  lfl tp-resizeme small-text"
data-x="center" data-hoffset="0"
data-y="center" data-voffset="-30"
data-speed="1500"
data-start="2000"
data-easing="Power1.easeInOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.1"
data-endelementdelay="0.1"
data-endspeed="300"
style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
<p>ultriceslectus. Cras porta nisl at tincidunt tincidunt.</p>
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption lfr tp-resizeme start-button"
data-x="center" data-hoffset="-90"
data-y="center" data-voffset="33"
data-speed="2000"
data-start="3500"
data-easing="Power4.easeInOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.1"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power1.easeOut"
style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
<button type="button" class="btn btn-danger" style="background-color:transparent;">see More</button>
</div>
<!-- LAYER NR. 5 -->
<div class="lfr tp-caption tp-resizeme start-button"
data-x="center" data-hoffset="90"
data-y="center" data-voffset="33"
data-speed="2500"
data-start="4000"
data-easing="Power4.easeInOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.1"
data-endelementdelay="0.1"
data-endspeed="1000"
data-endeasing="Power1.easeOut"
style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
<button type="button" class="btn btn-primary" style="background-color: #e84700;border:1px solid #e95e1d;">buy now</button>
</div>
<!-- LAYER NR. 6 -->
<div class="tp-caption tp-resizeme lfb randomrotate down-arrow"
data-x="center" data-hoffset="0"
data-y="center" data-voffset="230"
data-speed="2200"
data-start="5500"
data-easing="Power4.easeOut"
data-splitin="none"
data-splitout="none"
data-elementdelay="0.01"
data-endelementdelay="0.1"
data-endspeed="500"
data-endeasing="Power4.easeIn"
style="z-index: 3; max-width: 50px; max-height: 50px; white-space: nowrap;">
<i class="scroll-bottom"><img  src="img/slider_button.png"  alt="arrow-down.png" class="img-responsive" ></i>
</div>
</li>
</ul>
</div>
</div>
    <!-- slider -->
<header  class="header-part">
  <div id="home" class="wrapper">
    <!-- Fixed navbar -->
    <div class="navi navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <a href="#menu">
            <button type="button" data-effect="st-effect-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </a>
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="TechGut"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right hidden-xs">
          <ul class="nav navbar-nav navbar-right">
            <li ><a class="page-scroll" href="#home">Home</a></li>
            <li> <a class="page-scroll" href="#about">about us</a></li>
            <li> <a class="page-scroll" href="#services">services</a></li>
            <li> <a class="page-scroll" href="#product">product</a></li>
            <li> <a class="page-scroll" href="#team">team</a></li>
            <li class="dropdown"> <a class="page-scroll drop dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#blog">blog</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="blog-full-width.html">full-width Blog</a></li>
                <li><a href="blog-sidebar.html">sidebar blog</a></li>
              </ul>
            </li>
        
          <li><a class="page-scroll" href="#contact">Contact</a></li>
          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open" style="display:none;" >
              <div class="input-group animated fadeInDown" >
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>    
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div><!-- End of Nav -->
</div>
</header>

<!-- WHO WE ARE -->
<section id="about" class="who-we-are section-padding">
  <div class="container">
    <div class="row">
      <div class="wow zoomIn col-xs-12 col-lg-12 text-center p-padding">
        <h1 class="section-title">who we are</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
      </div><!-- col-xs-12 -->
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="icon-circle">
          <i class="fa flaticon-android2"></i>
        </div><!-- /.icon-circle -->
        <div class="who-we-are-content text-center">
          <h2>simple design</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p>
        </div><!-- /.who-we-are-content -->
      </div><!-- /.col-xs-6 -->
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="icon-circle">
          <i class="fa fa-laptop"></i>
        </div><!-- /.icon-circle -->
        <div class="who-we-are-content text-center">
          <h2>perfect for all</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p>
        </div><!-- /.who-we-are-content -->
      </div><!-- /.col-xs-6 -->
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="icon-circle">
          <i class="fa flaticon-christmas128"></i>
        </div><!-- /.icon-circle -->
        <div class="who-we-are-content text-center">
          <h2>easy to customize</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p>
        </div><!-- /.who-we-are-content -->
      </div><!-- /.col-xs-6 -->
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="icon-circle">
          <i class="fa fa-code"></i>
        </div><!-- /.icon-circle -->
        <div class="who-we-are-content text-center">
          <h2>beautifully crafted</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. </p>
        </div><!-- /.who-we-are-content -->
      </div><!-- /.col-xs-6 -->
    </div><!--/row-->
  </div><!-- /container -->
</section><!-- /who we wre -->

<!-- OUR SERVICES -->
<section id="services" class="service section-padding">
  <div class="container">
    <div class="row">
      <div class="wow zoomIn col-xs-12 text-center p-padding">
        <h1 class="section-title">our service</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
      </div><!-- col-xs-12 -->
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="left-column">
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa flaticon-christmas128"></i>
              </a>
            </div>
            <div class="media-body">
              <h2>ajax page transitions</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div>
          </div>
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa fa-database"></i>
              </a>
            </div>
            <div class="media-body">
              <h2>ultimate layouts</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div>
          </div>
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa fa-compress"></i>
              </a>
            </div>
            <div class="media-body">
              <h2>responsive design</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div>
          </div>
        </div>
      </div><!-- col-md-5 -->

      <div class="col-xs-6 col-sm-2 col-md-2 hidden-xs">
        <div class="image-box">
          <img class="img-responsive" src="img/phn.png" alt="">
        </div>
      </div><!-- /col-md-2 -->

      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="right-column">
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa flaticon-leaf32"></i>
              </a>
            </div><!-- media left-->
            <div class="media-body">
              <h2>MULTIPLE HEADER styles</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div><!--/.media body-->
          </div><!-- /.media -->
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa fa-rocket"></i>
              </a>
            </div><!-- media left-->
            <div class="media-body">
              <h2>ONE PAGE OPTION</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div><!--/.media body-->
          </div><!-- /.media -->
          <div class="wow zoomIn media">
            <div class="media-left media-middle">
              <a href="#">
                <i class="fa fa-laptop"></i>
              </a>
            </div><!-- media left-->
            <div class="media-body">
              <h2>24/7 HOURS SUPPORT</h2>
              <h3>Vero eos et accusamus et </h3>
              <span>iusto odio</span>
            </div><!--/.media body-->
          </div><!-- /.media -->
        </div><!-- /.right-column -->
      </div>
    </div><!-- row-->
  </div><!-- container -->
</section><!-- /our services -->

<!-- CLEAN IDEA AND UNIQUE DESIGN -->
<section id="clean" class="clean-idea section-padding">
  <div class="container">
    <div class="row">
      <div class="wow zoomIn col-xs-12 text-center p-padding">
        <h1 class="section-title">clean idea and unique design</h1>
        <p>A designer knows he has achieved perfection not when there is nothingleft to add, but when there is nothing left to take away.</p>
        <div class="button-set">
          <button type="button" class="btn btn-danger"><i class="fa fa-link"></i>Read More</button>
          <a href="#contact" class="page-scroll contact-us"><i class="fa fa-phone"></i>Contact Us</a>
        </div><!-- /.button-set -->
      </div><!-- col-xs-12 -->
    </div><!-- row-->
  </div><!-- container -->
</section><!-- /clean idea and unique design -->

<!-- OUR LATEST WORKS -->
<section class="protfolio section-padding" id="product">
  <div class="container">
    <div class="row">
      <div class="wow zoomIn col-xs-12 text-center p-padding animated" style="visibility: visible; animation-name: zoomIn;">
        <h1 class="section-title">our latest works</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
  <div class="portfolio-menu">
    <div class="container">
      <div class="row"> 
        <div class="col-xs-12">
          <ul class="wow zoomIn animated" id="filter" style="visibility: visible; animation-name: zoomIn;">
            <li><a data-group="all" href="#" class="active">all</a></li>
            <li><a data-group="wordpress" href="#">wordpress</a></li>
            <li><a data-group="video" href="#">video</a></li>
            <li><a data-group="image" href="#">image</a></li>
            <li><a data-group="branding" href="#">branding</a></li>
          </ul><!-- /#filter -->
        </div><!-- /.col-xs-12 -->
      </div>
    </div>
  </div>



  <div class="row">
    <div id="grid" class="shuffle" style="position: relative; height: 600px;">
      <!-- portfolio-item -->
      <div data-groups='["all", "image", "video"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered animated" style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio01.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal1" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /.portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio01.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->


      <!-- portfolio-item -->
      <div data-groups='["all", "image","wordpress","branding"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio02.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal2" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio02.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->



      <!-- portfolio-item -->
      <div data-groups='["all", "image","wordpress", "circle", "video"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio03.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal3" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio03.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->


      <!-- portfolio-item -->
      <div data-groups='["image", "all","wordpress", "branding"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio04.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal4" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio04.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->


      <!-- portfolio-item -->
      <div data-groups='["all","wordpress", "video", "branding"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio05.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal5" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio05.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->



      <!-- portfolio-item -->
      <div data-groups='["image", "all","wprdpress", "branding", "video"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio06.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal6" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio06.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->


      <!-- portfolio-item -->
      <div data-groups='["all", "branding", "video"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio07.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal7" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class=" btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio07.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->


      <!-- portfolio-item -->
      <div data-groups='["image", "all", "wordpress", "video"]' class=" portfolio-item col-xs-12 col-sm-6 col-md-3 shuffle-item filtered " style="margin:0; padding:0;">
        <div class="portfolio">
          <figure class="effect-julia">
            <img alt="img21" src="img/portfolio08.jpg">
            <figcaption>
              <div class="socials">
                <a data-toggle="modal" data-target="#myModal8" href=""><i class="fa fa-expand"></i></a>
                <a href=""><i class="fa fa-share animated"></i></a>
              </div>
              <div class="scoial-heading">
                <p>Mornign Dew</p>
                <strong>Icons, Illustrations</strong>
              </div>
            </figcaption>     
          </figure>
        </div><!-- /.portfolio -->
      </div><!-- /portfolio-item -->
      <!-- MODAL/POPUP -->
      <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal">X</button>
              <span class="modal-title" id="myModalLabel">Our recent work</span>
            </div>
            <div class="modal-body" >
              <img src="img/portfolio08.jpg" alt="img21"/>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL/POPUP -->
    </div> <!-- /grid --> 
  </div><!-- /row -->
</section><!-- /our latest works -->

<div class="more-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="pull-left">Want To Work With Us Then Feel Free To Contact Us</h2>
        <button type="button" id="load" class="btn btn-success pull-right">load More</button>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- /.more-area -->

<!-- OUR TEAM -->
<section id="team" class="our-team section-padding">
  <div class="container">
    <div class="row">
      <div class="wow zoomIn col-xs-12 text-center p-padding">
        <h1 class="section-title">meet our team</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
      </div><!-- col-xs-12 -->
    </div><!-- row -->
    <div class="row">
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
        <div class="grid">
          <figure class="effect-duke">
            <img class="img-responsive" src="img/team1.jpg" alt="img09">
            <figcaption>
              <div class="icon-holder">
                <ul >
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </figcaption>     
          </figure>
        </div>
        <div class="team-designation">
          <p>MATTIAS NUFFER</p>
          <span>CEO</span>
        </div>
      </div>
      <div class=" wow zoomIn col-xs-12 col-sm-6 col-md-3">
        <div class="grid">
          <figure class="effect-duke">
            <img class="img-responsive" src="img/team2.jpg" alt="img09">
            <figcaption>
              <div class="icon-holder">
                <ul >
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </figcaption>     
          </figure>
        </div>
        <div class="team-designation">
          <p>kendra hall</p>
          <span>cto</span>
        </div>
      </div>
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
        <div class="grid">
          <figure class="effect-duke">
            <img class="img-responsive" src="img/team3.jpg" alt="img09">
            <figcaption>
              <div class="icon-holder">
                <ul >
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </figcaption>     
          </figure>
        </div>
        <div class="team-designation">
          <p>jessica morgan</p>
          <span>programmer</span>
        </div>
      </div>
      <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
        <div class="grid">
          <figure class="effect-duke">
            <img class="img-responsive" src="img/team4.jpg" alt="img09">
            <figcaption>
              <div class="icon-holder">
                <ul >
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </figcaption>     
          </figure>
        </div>
        <div class="team-designation">
          <p>jenny terrell</p>
          <span>market analyst</span>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- our team -->

<!-- COUNTING -->
<section  class="counting section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="count1 counter">2125</span>
        <p>project completed</p>
      </div> <!-- /.col-sm-3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="count2 counter">1031</span>
        <p>clients worked</p>
      </div><!-- /.col-sm-3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="counter count3">5065</span>
        <p>tweets</p>
      </div><!-- /.col-sm-3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="counter count4">2154</span>
        <p>cup of cofee</p>
      </div><!-- /.col-sm-3 -->
    </div> <!-- /.row -->
  </div><!-- /.container -->
</section><!-- counting -->


<!-- TESTIMONIAL-->
<section class="wow zoomIn testimmonial section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="testimonial-feed">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active text-center">
                <div class="image-bar" ><img src="img/testimonial.jpg" alt=""></div>
                <p>“Perfection is achieved, not when there’s nothing more to add, but when theres is nothing left to take away.Laboriosam quae qui dolorem quasi molestias illo tempore optio amet, tempora deleniti. Magnam, distinctio!”</p>
                <span class="pull-right"> Mark Robert</span>
              </div>
              <div class="item text-center">
                <div class="image-bar" ><img src="img/testimonial2.jpg" alt=""></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe hic deserunt, fugit animi doloribus. Tempore, laboriosam. Laboriosam quae qui dolorem quasi molestias illo tempore optio amet, tempora deleniti. Magnam, distinctio!</p>
                  <span class="pull-right">  Matt Route</span>
                </div><!-- item text-center -->
              </div><!-- carousel-inner -->
            </div><!-- carousel -->
          </div><!-- testimonial-feed -->
          <div class="control-arrow">
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <i class="flaticon-previous11"></i>
            </a>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <i class="flaticon-next15"></i>
            </a>
          </div><!-- /.control-arrow -->
        </div><!-- /.col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- testimonial -->
  

  <!-- BLOG CONTENT -->
  <section id="blog" class="blog-wrapper section-padding">
    <div class="container">
      <div class="row">
        <div class="wow zoomIn col-xs-12 text-center p-padding">
          <h1 class="section-title">BLOG</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
        </div><!-- col-xs-12 -->
        <div class="wow zoomIn col-xs-12 col-md-4">
          <img class="img-responsive" src="img/blog1.jpg" alt="Image"/>
          <div class="blog-date-wrapper">
            <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
            <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
            <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
            <span class="clearboth"> &nbsp; </span>
          </div>
          <div class="blog-container">
            <h2><a href="blog-sidebar.html" target="_blank">The Green Fields of Spring</a></h2>
            <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
            <a class="custom-button" href="blog-sidebar.html" >read more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="wow zoomIn col-xs-12 col-md-4">
          <img class="img-responsive" src="img/blog2.jpg" alt="Image"/>
          <div class="blog-date-wrapper">
            <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
            <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
            <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
            <span class="clearboth"> &nbsp; </span>
          </div>
          <div class="blog-container">
            <h2><a href="blog-sidebar.html" target="_blank"> 10 Things you Need to Know</a></h2>
            <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
            <a class="custom-button" href="blog-sidebar.html" >read more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="wow zoomIn col-xs-12 col-md-4">
          <img class="img-responsive" src="img/blog3.jpg" alt="Image"/>
          <div class="blog-date-wrapper">
            <span class="floatleft"><i class="fa fa-calendar"></i> 01th june 2015</span>
            <span class="floatright"><i class="fa fa-thumbs-o-up"></i> 30</span>
            <span class="floatright"><i class="fa fa-comments"></i> 25 </span>
            <span class="clearboth"> &nbsp; </span>
          </div>
          <div class="blog-container">
            <h2><a href="blog-sidebar.html" target="_blank">The Secret Trick to Achieve</a></h2>
            <p>Tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
            <a class="custom-button" href="blog-sidebar.html" >read more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="more-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="pull-left">techgut- Premium One Page corporate layout</h2>
            <button type="button" class="btn btn-success pull-right">see More</button>
          </div><!-- col-xs-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- /.more-area -->
  </section><!-- blog content -->

  <!-- our partner -->
  <section class="partner-wrapper">
    <div class="container">
      <div class="row">
        <div class="wow zoomIn col-sm-12">
          <div class="owl-wrap">
            <div id="owl-example" class="owl-carousel">
              <div class="feature-image"><img class="img-responsive" src="img/partner1.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner2.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner3.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner4.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner5.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner1.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner2.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner3.jpg" alt=""></div>
              <div class="feature-image"><img class="img-responsive" src="img/partner4.jpg" alt=""></div>
            </div><!-- /.owl-carousel -->
          </div><!-- /.owl-wrap -->
        </div><!-- /.col-sm-12 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- our partner -->

  <!-- GET IN TOUCH -->
  <section id="contact" class="contact-wrapper section-padding">
    <div class="container">
      <div class="row">
        <div class="wow zoomIn col-xs-12 text-center p-padding">
          <h1 class="section-title">get in touch</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
        </div><!-- col-xs-12 -->
        <div class="wow zoomIn col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
          <form name="contactForm" id='contact_form' method="post" action='php/email.php'>
            <div class="form-inline">
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="name" >
              </div>
              <div class="form-group col-sm-6">
                <input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="email address">
              </div>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="subject" id="exampleInputSubject" placeholder="subject" >
              </div>
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="company" id="exampleInputCompany" placeholder="company" >
              </div>
              <div class="form-group col-sm-12">
                <textarea class="form-control" name="message" rows="3" id="exampleInputMessage" placeholder="message" ></textarea>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <div id='mail_success' class='success' style="display:none;">Your message has been sent successfully.
              </div><!-- success message -->
              <div id='mail_fail' class='error' style="display:none;"> Sorry, error occured this time sending your message.
              </div><!-- error message -->
            </div>
            <div class="form-group col-sm-12" id='submit'>
              <input type="submit" id='send_message' class="btn  btn-lg costom-btn" value="send">
            </div>
          </form>
        </div> <!-- /.col-xs-12 .col-sm-offset-2 .col-sm-8 -->
        <div class="col-xs-12">
          <div class="contact-or">
            <p>or</p>
          </div><!-- /.contact-or -->
          <div class="icon-text">
            <span>find us on</span>
          </div><!-- /.icon-text -->
          <div class="icon-holder">
            <ul >
              <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!-- /.icon-holder -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- get in touch -->

  <!-- footer -->
  <footer >
    <div class="footer-wrapper section-padding">
      <div class="container">
        <div class="row">
          <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
            <a href="index.html"><img src="img/footer-logo.png" alt="TechGut"></a>
            <p class="footer-content">Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
          </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
          <div class="wow zoomIn col-xs-12 col-sm-3 col-md-3">
            <p class="footer-heading">link</p>
            <ul class="footermenu">
              <li><a data-scroll data-options='{ "easing": "easeInQuad" }'  href="#about">about us</a></li>
              <li><a data-scroll data-options='{ "easing": "easeInQuad" }'  href="#services">services</a></li>
              <li><a data-scroll data-options='{ "easing": "easeInQuad" }'  href="#product">product</a></li>
              <li><a data-scroll data-options='{ "easing": "easeInQuad" }'  href="#team">team</a></li>
              <li><a data-scroll data-options='{ "easing": "easeInQuad" }' href="#blog">blog</a></li>
            </ul>
          </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
          <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
            <p class="footer-heading">find us</p>
            <ul class="footercontact">
              <li><i class="flaticon-mainpage"></i><span>address:</span> One TECHGUT loop, 54100</li>
              <li><i class="flaticon-phone16"></i><span>phone:</span><a href="tel:88 02 8714612"> +88 02 8714612</a></li>
              <li><i class="flaticon-email21"></i><span>e-mail:</span><a href="mailto:support@themerole.com"> support@themerole.com</a></li>
              <li><i class="flaticon-world91"></i><span>web:</span><a href="http://themerole.com"> www.themerole.com</a></li>
            </ul>
            <i class="flaticon-home78"></i>
          </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
          <div class="wow zoomIn col-xs-12 col-sm-6 col-md-3">
            <p class="footer-heading">recent posts</p>
            <ul class="footerblog">
              <li><a href="blog-sidebar.html">The Green Fields of Spring</a> <p>13th Jun 2014</p></li>
              <li><a href="blog-sidebar.html">This is a Video Post</a> <p>18th Nov 2014</p></li>
              <li><a href="blog-sidebar.html">Satisfaction Lies in the Effort</a> <p>13th Jun 2014</p></li>
            </ul>
          </div><!-- /.col-xs-12 .col-sm-3 .col-md-3 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="wow zoomIn col-xs-12">
            <p>© 2015 All rights reserved. <span>techgut</span> theme by <a href="http://themerole.com">themerole</a></p>
            <div class="backtop  pull-right">
              <i class="fa fa-angle-up back-to-top"></i>
            </div><!-- /.backtop -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.creditwrapper -->
  </footer><!-- /Footer -->


<!-- MMENU --> 
<nav id="menu">
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#about">about us</a></li>
    <li><a href="#services">services</a></li>
    <li><a href="#product">product</a></li>
    <li><a href="#team">team</a></li>
    <li><a href="#blog">blog</a>
      <ul>
        <li><a href="blog-full-width.html">full width blog</a></li>
        <li><a href="blog-sidebar.html">sidebar blog</a></li>
      </ul>
    </li>
    <li><a href="#contact">contact</a></li>
  </ul>
</nav><!-- /#menu -->

</div><!-- /.main -->



<!-- jQuery JS -->
<script src="js/jquery-1.11.1.js"></script>

<!-- Modernizr JS --> 
<script src="js/modernizr-2.6.2.min.js"></script>

<!--Bootatrap JS-->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- REVOLUTION Slider  -->
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>

<!-- Shuffle JS -->
<script src="js/jquery.shuffle.min.js"></script>

<!-- mmenu -->
<script type="text/javascript" src="vendor/mmenu/js/jquery.mmenu.min.js"></script>

<!-- Owl Carosel -->
<script src="vendor/owl/js/owl.carousel.min.js"></script>
<script src="js/wow.min.js"></script>

<!-- waypoints JS-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<!-- Counterup JS -->
<script src="js/jquery.counterup.min.js"></script>

<!-- Easing JS -->
<script src="js/jquery.easing.min.js"></script>

<!-- Smooth Scroll JS -->
<script src="js/scrolling-nav.js"></script>
<script src="js/smoothscroll.min.js"></script>

<!-- Custom Script JS -->
<script src="js/script.js"></script>

<!-- Email JS -->
<script src="js/email.js"></script>

<script>
$(window).on('scroll', function(){
  if( $(window).scrollTop()>670 ){
    $('.navbar-default').addClass('navbar-fixed-top');
  } else {
    $('.navbar-default').removeClass('navbar-fixed-top');
  }
});
</script>

</body>
</html>
