---
layout: default-blog
---
<div class="main">
    {% include header.html context="blog" %}
    {% include blog/big-header.html title=page.title %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                {% include blog/entry-full.html post=page %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include blog/post-side-intro.html html=content toc=page.toc %}

                {% include toc.html html=content toc=page.toc %}

                {% include blog/post-series.html %}

                {% include blog/post-share.html %}
            </div>
        </div>
        <div class="row">
            <hr>
            {% include blog/post-prev-next-links.html %}
        </div>
    </div>
</div>
