<div class="sidebar" style="margin-top: 0px">
    <div class="list-group">
        <div class="sidebar-heading">
            Search
        </div>
        <div class="input-group" style="margin-top: 8px">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" id="search-input" placeholder="Search jobs...">
        </div>
        <div id="results-container" class="freelance-search-results"></div>
        <div class="maching-project">
            Can't find your ideal project here? Send your cv to
            <a href="mailto:{{ site.email.freelance }}">{{ site.email.freelance }}</a>
            and we'll help you find the perfect match!
        </div>
    </div>
</div>
