{% for member in site.data.teamMembers %}
    {% if member.onFreelance %}
        <div class="sidebar">
            <div class="list-group" style="margin-bottom: 4px">
                <div class="sidebar-heading">
                    <a href="{{ member.linkedin }}" style="float: right">
                        <i class="fa fa-2x fa-linkedin"></i>
                    </a>

                    {{ member.name }}
                    <div style="margin-top: -8px; margin-bottom: -11px">{{ member.role }}</div>
                </div>
                <div class="grid">
                    <img class="img-responsive" src="{{ member.image }}">
                </div>
                <div class="recruiter-contact">
                    <a href="mailto:{{ member.email }}">
                        <i class="fa fa-envelope"></i>
                        <span>{{ member.email }}</span>
                    </a>

                    <br>

                    <a href="tel:{{ member.phone | replace: ' ', '' }}">
                        <i class="fa fa-phone"></i>
                        <span>{{ member.phone }}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
